<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start" *ngIf="!openAsModal">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end" *ngIf="openAsModal">
      <ion-button (click)="modalController.dismiss()"><ion-icon name="close-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p>Enter your email to get the password reset instructions.</p>
  <form>
    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" #email required (keyup.enter)="sendResetRequest(email.value)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          type="submit"
          color="primary"
          (click)="sendResetRequest(email.value)"
          expand="block"
        >
          Send reset instructions
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
