/*banner*/
/*banner*/
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

h2 {
  font-family: Montserrat;
  margin-top: 80px;
}
.banner-content h1 {
  font-family: Crimson Pro;
  font-weight: 800;
  font-size: 70px;
  color: #fff;
}

.banner-content p {
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.image-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.banner-content {
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  line-height: 1.5;
}

.img-content img {
  width: 100%;
  height: 70vh;
  display: block;
  object-fit: cover;
}

/*TERMS & CONDITION*/
.terms-condition ul {
  color: black;
  list-style-type: circle;
}

.terms-condition p {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}
.terms-condition {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: -15%;
}
.col {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-top: -10%;
}
.col ul {
  list-style-type: none;
  text-align: justify;
  padding: 0;
  font-family: Montserrat;
}

.col p {
  text-align: justify;
  font-family: Montserrat;
}

p {
  text-align: justify;
  font-family: Montserrat;
}

ul {
  list-style-type: none;
  text-align: justify;
  padding: 0;
  font-family: Montserrat;
}

li {
  margin-bottom: 10px;
}

b {
  font-weight: bold;
}

/*FOOTER FOOTER*/
footer {
  padding: 50px 0;
  color: #000;
  margin: 0 !important;
  background-color: #f5f5dc;
}

.footer-column h6 {
  font-size: 24px;
  color: #333;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: normal;
  font-family: Crimson Pro;
  text-transform: uppercase;
}
p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  margin-top: 40px;
  line-height: 1.6;
  text-align: left;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-icons a {
  display: block;
  margin-right: 20px;
  color: #544541;
}
.social-icons a:hover .fab.fa-facebook,
.social-icons a:hover .fab.fa-twitter,
.social-icons a:hover .fab.fa-linkedin {
  color: #0077b5;
}

.social-icons a:hover .fab.fa-instagram,
.social-icons a:hover .fab.fa-pinterest {
  color: #e60023;
}

.social-icons i {
  font-size: 20px;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #000;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #544541;
  text-decoration: none;
}

.footer-column .newsletter {
  margin-top: 20px;
}

.footer-column .newsletter input[type="email"] {
  width: 300px;
  border-radius: 0;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.input-group-append .btn-outline-secondary {
  background-color: #544541;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
  cursor: pointer;
  border: none;
  height: 40px;
}

.input-group-append .btn-outline-secondary:hover {
  background-color: black;
  color: #fff;
  border-color: black;
}

.footer-column .payment-options {
  margin-top: 20px;
}

.footer-column .payment-options img {
  height: 20px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  margin-bottom: 10px;
}

li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  color: #544541;
  text-decoration: none;
}

.bottom-footer {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: #544541;
  color: #fff;
  padding: 5px 20px;
  align-items: center;
  justify-content: center;
}

.bottom-footer-center {
  font-size: 14px;
}

/* Adjust margins and paddings for smaller screens */
@media (max-width: 767px) {
  .navbar {
    height: auto;
    margin-bottom: 0;
  }

  .navbar .nav-link {
    font-size: 16px;
    margin: 10px;
    padding: 10px;
  }

  .navbar .dropdown {
    position: static;
    float: none;
  }

  .navbar .dropdown .dropdown-item {
    font-size: 12px;
  }

  .navbar .navbar-toggler {
    margin: 10px;
  }

  .navbar .navbar-collapse {
    position: static;
    background-color: transparent;
    padding: 0;
    text-align: left;
  }

  .navbar .navbar-collapse .nav-link {
    margin: 5px;
  }

  .navbar .navbar-collapse.collapsed {
    display: none;
  }
}

/* Specific Styles for Mobile Devices */
@media (max-width: 767px) {
  #logo {
    width: 80px;
    margin: 10px;
  }

  /* Center the navbar items */
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Reduce the font size of the navbar items */
  .navbar .nav-link {
    font-size: 14px;
  }

  /* Reduce the size of the dropdown button */
  .navbar .dropdown #dropdownMenu2 {
    width: 80px;
    height: 35px;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 50px 0;
    color: #000;
    margin: 0 !important;
    background-color: #f5f5dc;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 20px;
    text-align: center; /* Center align the text */
  }

  .footer-column h6 {
    font-size: 24px;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: normal;
    font-family: Crimson Pro;
    text-transform: uppercase;
    text-align: center; /* Center align the text */
  }
  p {
    color: #000;
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    margin-top: 40px;
    line-height: 1.6;
    text-align: center; /* Center align the text */
  }

  .social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Center align the social icons */
  }

  .social-icons a {
    display: block;
    margin-right: 10px;
    color: #544541;
  }

  .social-icons a:hover .fab.fa-facebook,
  .social-icons a:hover .fab.fa-twitter,
  .social-icons a:hover .fab.fa-linkedin {
    color: #0077b5;
  }

  .social-icons a:hover .fab.fa-instagram,
  .social-icons a:hover .fab.fa-pinterest {
    color: #e60023;
  }

  .social-icons i {
    font-size: 20px;
  }

  .footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center align the text */
  }

  .footer-column ul li {
    margin-bottom: 10px;
  }

  .footer-column ul li a {
    color: #000;
    text-decoration: none;
    display: inline-block; /* Display the link as inline-block */
  }

  .footer-column ul li a:hover {
    color: #544541;
    text-decoration: none;
  }

  .footer-column .newsletter {
    margin-top: 20px;
  }

  .footer-column .newsletter input[type="email"] {
    width: 100%;
    max-width: 300px;
    border-radius: 0;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
  }

  .input-group-append .btn-outline-secondary {
    background-color: #544541;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
    border: none;
    height: 40px;
  }

  .input-group-append .btn-outline-secondary:hover {
    background-color: black;
    color: #fff;
    border-color: black;
  }

  .footer-column .payment-options {
    margin-top: 20px;
  }

  .footer-column .payment-options img {
    height: 20px;
    margin-right: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    margin-bottom: 10px;
  }

  li a {
    color: black;
    text-decoration: none;
  }

  li a:hover {
    color: #544541;
    text-decoration: none;
  }

  .bottom-footer {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #544541;
    color: #fff;
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
  }

  .bottom-footer-center {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
  }

  h2 {
    font-family: Montserrat;
    margin-top: 30px;
    color: #fff;
  }

  .banner-content h1 {
    font-family: Crimson Pro;
    font-weight: 800;
    font-size: 40px;
    color: #fff;
  }

  .banner-content p {
    font-family: "Montserrat";
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
  }

  .image-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }

  .banner-content {
    position: absolute;
    z-index: 99999;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    line-height: 1.5;
  }

  .img-content img {
    width: 100%;
    height: 70vh;
    display: block;
    object-fit: cover;
  }

  .ban-btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    font-family: Montserrat;
  }
}

@media only screen and (max-width: 991px) {
  /*TERMS & CONDITION*/
  .terms-condition ul {
    color: black;
    list-style-type: circle;
  }

  .terms-condition p {
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-size: 18px;
  }

  .terms-condition {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: -15%;
  }

  p {
    text-align: center;
    align-content: center;
    font-family: Montserrat;
  }

  ul {
    list-style-type: none;
    text-align: justify;
    padding: 0;
    font-family: Montserrat;
  }

  li {
    margin-bottom: 10px;
  }

  b {
    font-weight: bold;
  }
}
