<ion-content>
  <nav class="navbar navbar-expand-sm sticky-top">
    <img src="assets/real logo.png" width=150 id="logo">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/about-us']">About<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/contact-us']">Contact<span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/terms-condition']">Terms & Condition<span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="assets/user2.png">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" style="font-size: 15px;">Login</button></li>
        <li><button class="dropdown-item" style="font-size: 15px;" [routerLink]="['/admin']">Admin</button></li>
        <li><button class="dropdown-item" style="font-size: 15px;">Logout</button></li>
        <li><button class="dropdown-item" style="font-size: 15px;" [routerLink]="['/test']">Test</button></li>
        <li class="owner">
          <button style="font-size: 15px;" class="dropdown-item" [routerLink]="['/owner-panel']">Owner Panel</button>
        </li>
        <li>
          <button style="font-size: 15px;" class="dropdown-item" [routerLink]="['/tenant-panel']">Tenant Panel</button>
        </li>
      </ul>
    </div>
  </nav>
  <div class="image-wrap">
    <div class="img-content">
      <img src="assets/terms-condition.jpg" alt="">
    </div>
    <div class="overlay"></div>
  </div>
  <div class="banner-content">
    <h2>SPOT-A-HOME</h2>
    <h1>TERMS & CONDITION</h1>
    <p>Unlock the power of clarity with our simplified terms and conditions.</p>

  </div>


  <div class="terms-condition">
    <p>Welcome to Spot-a-Home, a platform that allows you to search and reserve boarding houses in Science City of
      Munoz. By
      using our platform, you agree to comply with the following terms and conditions:</p>
    <ul>
      <li><b>Registration and Account Creation:</b> In order to use our platform, you must create an account and provide
        accurate and
        complete information about yourself. You are responsible for maintaining the confidentiality of your account and
        password, and you agree to accept responsibility for all activities that occur under your account.</li>
      <li><b>Property Information and Reservation:</b> Our platform allows you to search for available boarding houses
        in
        Science City of
        Munoz. The information provided on our platform, including property details, availability, and prices, is
        provided by
        third-party owners and operators. We do not guarantee the accuracy, completeness, or reliability of this
        information,
        and we are not responsible for any errors or omissions.</li>
      <li><b>Booking and Payment:</b> Once you find a boarding house that you would like to reserve, you can make a
        booking
        request
        through our platform and you will be required to pay the full amount of the reservation fee.
        Payments are
        processed securely through our platform.</li>
      <li><b>Cancellations and Refunds:</b> If you need to cancel your reservation, please refer to the cancellation
        policy
        provided by
        the owner or operator of the boarding house. We are not responsible for any cancellations or refunds. If a
        refund is
        issued, it will be processed through face-to-face basis with the owner.
      </li>
      <li><b>Use of the Platform:</b> You agree to use our platform only for lawful purposes and in accordance with
        these terms
        and
        conditions. You may not use our platform in any way that could damage, disable, overburden, or impair our
        servers or
        networks. You may not use our platform to transmit or distribute any harmful or malicious software.</li>
      <li><b>Intellectual Property:</b> Our platform and its content, including but not limited to text, graphics,
        logos,
        images, and
        software, are the property of Spot-a-Home or its licensors and are protected by intellectual property laws. You
        may not
        use any of our content without our express written consent.</li>
      <li><b>Disclaimer of Warranties:</b> Our platform is provided on an "as is" and "as available" basis. We make no
        representations or
        warranties of any kind, express or implied, as to the operation of our platform or the information, content,
        materials,
        or products included on our platform.</li>
      <li><b>Limitation of Liability:</b> In no event shall Spot-a-Home or its affiliates, officers, directors,
        employees, or
        agents be
        liable for any direct, indirect, incidental, special, or consequential damages arising out of or in any way
        connected
        with the use of our platform or the information, content, materials, or products included on our platform.</li>
      <li><b>Modification and Termination:</b> We reserve the right to modify or terminate these terms and conditions at
        any
        time,
        without notice. Your continued use of our platform after any such modifications indicates your acceptance of the
        modified terms. We also reserve the right to terminate your account and access to our platform at any time,
        without
        notice, if we determine that you have violated these terms and conditions.</li>

    </ul>
  </div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/footer logo.png" alt="Logo">
          <p>It is a long established fact that a reader will be distracted the readable layout.</p>
          <ul class="social-icons">
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="#"><ion-icon name="mail"></ion-icon></a>
            <a href="#"><ion-icon name="logo-dribbble"></ion-icon></a>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>ABOUT SPOT-A-HOME</h6>
          <ul class="footer-links">
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>TERMS & POLICY</h6>
          <ul class="footer-links">
            <li><a href="#">Terms & Condition</a></li>
            <li><a href="#">Payment Policy</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Return Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6>NEWSLETTER</h6>
          <p>Subscribe to our newsletter to stay updated.</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your email." aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">SUBSCRIBE</button>
            </div>
          </div>
          <img src="assets/p1.png">
          <img src="assets/p2.png">
          <img src="assets/p3.png">
          <img src="assets/p4.png">
          <img src="assets/p5.png">
        </div>
      </div>
    </div>
  </footer>

  <footer class="bottom-footer">
    <div class="bottom-footer-center">
      Copyright <span>&copy;</span> 2023 SPOT-A-HOME By CJL
    </div>
  </footer>
</ion-content>