:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

ion-content {
  flex-grow: 1;
}

.message-input{
  width: 100%;
  border: 1px solid var(--ion-color-medium);
  border-radius: 6px;
  background: #fff;
  resize: none;
  margin-top: 0px;
  --pading-start: 8px;
}

.message {
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 4px;
  white-space: pre-wrap;
}

.my-message{
  background: var(--ion-color-primary);
  color: #fff;
}

.system-message {
  background: var(--ion-color-light);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.other-message{
  background: var(--ion-color-tertiary);
  color: #fff;
}

.time{
  color: #dfdfdf;
  float: right;
  font-size: small;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  h2 {
    margin-top: 0;
  }
}