body {
  margin: 0;
}

.side {
  max-width: 250px;
}

.sidebar {
  width: 250px;
  position: fixed;
  height: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  background-color: #544541;
  transition: left 300ms;
}

.sidebar h1 {
  display: block;
  padding: 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat";
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 120px;
  text-align: center;
}

.sidebar a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 2px;
}

.sidebar a:hover {
  background-color: #e2e2e2;
  color: #000;
  margin-left: 20px;
  transition: 0.4s;
}

.container-img {
  max-height: 400px;
  overflow: hidden;
  object-fit: fill;
  object-fit: cover;
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.profile {
  text-align: center;
  justify-content: center;
  font-size: 18px;
  font-family: Montserrat;
  margin-bottom: 10px;
  max-height: 90px;
  max-width: 90px;
}

.profile img {
  width: 90px;
  border-radius: 45px;
}

//Room//
.room ion-grid ion-row ion-col {
  padding: 10px;
}

.room ion-grid .row-header {
  background-color: #544541;
  margin-bottom: 5px;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.room .row-header {
  font-family: Montserrat;
  font-size: 18px;
  text-align: center;
}

.room .row-body {
  font-family: Montserrat;
  font-size: 16px;
  text-align: center;
}

.room ion-grid .row-body ion-col {
  background-color: rgb(226, 226, 226);
  color: #544541;
  margin: 5px 2px 5px 2px;
  max-height: 170px;
  overflow-y: auto;
}

.room ion-grid .row-body ion-col:first-child {
  margin-left: 0px;
}

.room ion-grid .row-body ion-col:last-child {
  margin-right: 0px;
}

.room ion-grid .row-body ion-col ion-button {
  margin: auto;
}

ion-card ion-card-title,
ion-card ion-card-subtitle {
  color: #000;
}

ion-card {
  padding: 10px;
  text-align: center;
  background-color: white;
  color: #000;
}

ion-card ion-icon {
  font-size: 50px;
}

.bills-body h1 {
  font-family: Montserrat;
  font-size: 18px;
}
#bill .b {
  background-color: white;
  color: #000;
  padding-bottom: 10px;
}

#bill .b ion-header {
  padding: 8px;
  margin: 8px;
  font-weight: 800;
}

.center {
  margin-top: -200px;
  color: white;
  text-align: center;
  font-weight: 700;
  font-family: Crimson Pro;
}

.center div {
  font-size: 60px;
  font-weight: 700;
  color: #544541;
}

.center p {
  font-size: 25px;
  font-family: Monserrat;
  font-style: italic;
  font-weight: 600;
  color: #544541;
}

#bill .btn {
  background-color: #c3afaa;
  color: white;
  margin-left: 5px;
  border-radius: 10px 10px 0px 0px;
}

#bill #unpaid ion-grid ion-row,
#bill #paid ion-grid ion-row {
  background-color: rgb(226, 226, 226);
  color: #544541;
  margin: 5px 2px 5px 2px;
  padding: 10px;
}

ion-popover {
  --width: 500px;
}

.card {
  background-color: rgb(226, 226, 226);
  max-width: 430px;
  padding: 10px;
  color: #544541;
}

.card .cardName {
  font-size: 20px;
  font-weight: 600;
}

.card .cardStatus,
.card .cardPayment {
  font-size: 16px;
}

.bill {
  .bills-header {
    margin-bottom: 0;
    padding-bottom: 0;
    ion-col {
      margin-bottom: 0;
      &.active {
        background-color: var(--ion-color-primary) !important;
      }
    }
  }
  .bills-body {
    margin-top: 0;
    padding-top: 0;
    ion-grid {
      margin-top: 0;
      padding-top: 0;
      ion-row:first-child {
        margin-top: 0 !important;
        ion-col {
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
  }
}
