ion-toolbar {
  --background: #544541;
}

h1 {
  text-align: center;
}

.modalbtn {
  float: right;
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}

.btn-group {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 120px;
  margin-right: 120px;
  display: inline-block;
}

.modalbtnn {
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}

i,
svg {
  margin-top: 13px;
}

#amenities {
  text-align: center;
  border: solid #544541 2px;
  padding: 30px;
  width: 150px;
  margin: 10px;
  max-width: 150px;
  height: 150px;
  max-height: 150px;
  font-family: Montserrat;
  border-radius: 0%;
}

p {
  font-size: 14px;
  margin-top: 10px;
  font-family: Montserrat;
  width: 100%;
  font-weight: 500;
}
