ion-toolbar {
  --background: #544541;
}

h1 {
  font-family: Montserrat;
  font-weight: 700;
}

.text {
  margin-top: 35px;
  margin-left: 50px;
}

h2 {
  margin-top: 70px;
  font-family: Montserrat;
}
p {
  font-family: Montserrat;
  font-size: 18px;
}
.image {
  float: right;
  width: 350px;
  height: 350px;
  margin-top: 80px;
  margin-right: 95px;
  margin-bottom: 50px;
}

.modalbtn {
  float: right;
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}

.modalbtnn {
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}
