#bill .btn {
  background-color: #c3afaa;
  color: white;
  margin-left: 5px;
  border-radius: 10px 10px 0px 0px;
}

#bill #unpaid ion-grid ion-row,
#bill #paid ion-grid ion-row {
  background-color: rgb(226, 226, 226);
  color: #544541;
  margin: 5px 2px 5px 2px;
  padding: 10px;
}

.bill {
  .bills-header {
    margin-bottom: 0;
    padding-bottom: 0;
    ion-col {
      margin-bottom: 0;
      &.active {
        background-color: var(--ion-color-primary) !important;
      }
    }
  }
  .bills-body {
    margin-top: 0;
    padding-top: 0;
    ion-grid {
      margin-top: 0;
      padding-top: 0;
      ion-row:first-child {
        margin-top: 0 !important;
        ion-col {
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
  }

}
