<ion-content>
  <app-site-header></app-site-header>
  <div class="image-wrap">
    <div class="img-content">
      <img src="assets/contact.jpg" alt="">
    </div>
    <div class="overlay"></div>
  </div>
  <div class="banner-content">
    <h2>SPOT-A-HOME</h2>
    <h1>CONTACT US</h1>
    <p>Stay connected with us and let's keep the conversation going!</p>
    <div class="banner-btn">
      <a href="" class="ban-btn btn-res">CONTACT US NOW</a>

    </div>
  </div>


  <div class="container" style="margin-top: -120px;">
    <form>

      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" style="background-color: white;">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" style="background-color: white;">

      <label for="country">Country</label>
      <select id="country" name="country" style="background-color: white;">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>

      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" style="height:200px" style="background-color: white;"></textarea>

      <input type="submit" value="Submit">

    </form>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/footer logo.png" alt="Logo">
          <p style="font-family: Montserrat; font-size: 16px;">A boarding house search & reservation in Science City of
            Muñoz.</p>
          <ul class="social-icons">
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="#"><ion-icon name="mail"></ion-icon></a>
            <a href="#"><ion-icon name="logo-dribbble"></ion-icon></a>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="font-family: Montserrat; font-size: 16px;">ABOUT SPOT-A-HOME</h6>
          <ul class="footer-links">
            <li><a href="#" style="font-family: Montserrat; font-size: 16px;">About Us</a></li>
            <li><a href="#" style="font-family: Montserrat; font-size: 16px;">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="font-family: Montserrat; font-size: 16px;">TERMS & POLICY</h6>
          <ul class="footer-links">
            <li><a href="#" style="font-family: Montserrat; font-size: 16px;">Terms & Condition</a></li>
            <li><a href="#" style="font-family: Montserrat; font-size: 16px;">Privacy Policy</a></li>

          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="font-family: Montserrat; font-size: 16px;">NEWSLETTER</h6>
          <p style="font-family: Montserrat; font-size: 16px;">Here's our mode of payments.</p>
          <img src="assets/p1.png">
          <img src="assets/p2.png">
          <img src="assets/p3.png">
          <img src="assets/p4.png">
          <img src="assets/p5.png">
        </div>
      </div>
    </div>
  </footer>

  <footer class="bottom-footer">
    <div class="bottom-footer-center" style="font-family: Montserrat; font-size: 16px;">
      Copyright <span>&copy;</span> 2023 SPOT-A-HOME By CJL
    </div>
  </footer>

</ion-content>