<ion-content>
  <app-site-header></app-site-header>
  <div class="image-wrap">
    <div class="img-content">
      <img src="assets/contact.jpg" alt="">
    </div>
    <div class="overlay"></div>
  </div>
  <div class="banner-content">
    <h2>SPOT-A-HOME</h2>
    <h1>CONTACT US</h1>
    <p>Stay connected with us and let's keep the conversation going!</p>
    <div class="banner-btn">
      <a href="" class="ban-btn btn-res">CONTACT US NOW</a>

    </div>
  </div>

  <div class="contact_info">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <div
            class="contact_info_container d-flex flex-lg-row flex-column justify-content-between align-items-between">

            <!-- Contact Item -->
            <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
              <div class="contact_info_image"><img src="https://img.icons8.com/office/24/000000/iphone.png" alt="">
              </div>
              <div class="contact_info_content">
                <div class="contact_info_title">Phone</div>
                <div class="contact_info_text">+91 9876 543 2198</div>
              </div>
            </div>

            <!-- Contact Item -->
            <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
              <div class="contact_info_image"><img src="https://img.icons8.com/ultraviolet/24/000000/filled-message.png"
                  alt=""></div>
              <div class="contact_info_content">
                <div class="contact_info_title">Email</div>
                <div class="contact_info_text">contact@bbbootstrap.com</div>
              </div>
            </div>

            <!-- Contact Item -->
            <div class="contact_info_item d-flex flex-row align-items-center justify-content-start">
              <div class="contact_info_image"><img src="https://img.icons8.com/ultraviolet/24/000000/map-marker.png"
                  alt=""></div>
              <div class="contact_info_content">
                <div class="contact_info_title">Address</div>
                <div class="contact_info_text">298,Menlo Park,CA,USA</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <form>

      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" style="background-color: white;">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" style="background-color: white;">

      <label for="country">Country</label>
      <select id="country" name="country" style="background-color: white;">
        <option value="australia">Australia</option>
        <option value="canada">Canada</option>
        <option value="usa">USA</option>
      </select>

      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" style="height:200px" style="background-color: white;"></textarea>

      <input type="submit" value="Submit">

    </form>
  </div>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/footer logo.png" alt="Logo">
          <p style="font-family: Montserrat;">It is a long established fact that a reader will be distracted the
            readable layout.</p>
          <ul class="social-icons">
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="#"><ion-icon name="mail"></ion-icon></a>
            <a href="#"><ion-icon name="logo-dribbble"></ion-icon></a>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="font-family: Montserrat;">ABOUT SPOT-A-HOME</h6>
          <ul class="footer-links">
            <li><a href="#" style="font-family: Montserrat;">About Us</a></li>
            <li><a href="#" style="font-family: Montserrat;">Contact Us</a></li>
            <li><a href="#" style="font-family: Montserrat;">FAQs</a></li>
            <li><a href="#" style="font-family: Montserrat;">Blog</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="font-family: Montserrat;">TERMS & POLICY</h6>
          <ul class="footer-links">
            <li><a href="#" style="font-family: Montserrat;">Terms & Condition</a></li>
            <li><a href="#" style="font-family: Montserrat;">Payment Policy</a></li>
            <li><a href="#" style="font-family: Montserrat;">Privacy Policy</a></li>
            <li><a href="#" style="font-family: Montserrat;">Return Policy</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="font-family: Montserrat;">NEWSLETTER</h6>
          <p style="font-family: Montserrat;">Subscribe to our newsletter to stay updated.</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Enter your email." aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button"
                style="font-family: Montserrat;">SUBSCRIBE</button>
            </div>
          </div>
          <img src="assets/p1.png">
          <img src="assets/p2.png">
          <img src="assets/p3.png">
          <img src="assets/p4.png">
          <img src="assets/p5.png">
        </div>
      </div>
    </div>
  </footer>

  <footer class="bottom-footer">
    <div class="bottom-footer-center">
      Copyright <span>&copy;</span> 2023 SPOT-A-HOME By CJL
    </div>
  </footer>

</ion-content>