/*banner*/
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  margin-top: -100px;
}

h2 {
  font-family: Montserrat;
  margin-top: 80px;
  color: #fff;
}
.banner-content h1 {
  font-family: Crimson Pro;
  font-weight: 800;
  font-size: 70px;
  color: #fff;
}

.banner-content p {
  font-family: "Montserrat";
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.image-wrap {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.banner-content {
  position: absolute;
  z-index: 10;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-align: center;
  font-size: 1.5em;
  color: #fff;
  line-height: 1.5;
}

.img-content img {
  width: 100%;
  height: 70vh;
  display: block;
  object-fit: cover;
}

.ban-btn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
  font-family: Montserrat;
}

.btn-res {
  background-color: #544541;
  font-family: Montserrat !important;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 4px;
}
.btn-res:hover {
  background-color: #bb995c;
}

/*DEVELOPER*/
img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
.mb-1 {
  margin-bottom: 0.25rem !important;
}

.h5,
h5 {
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}
.team-style07 {
  background: #fff;
  text-align: center;
  padding: 30px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.9);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}
.team-style07 {
  background: #fff;
  text-align: center;
  padding: 30px;
  box-shadow: 0px 10px 30px 0px rgba(26, 29, 72, 0.09);
  border-radius: 15px;
  transition: all 0.3s ease-in-out;
}

.team-style07:hover {
  background: #544541;
}

.team-style07:hover h3 a,
.team-style07:hover p {
  color: #fff;
}

.team-style07 .team-thumb {
  position: relative;
}

.team-style07 .team-thumb .team-social {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.team-style07:hover .team-thumb .team-social .styled-icons li:nth-child(1) {
  left: 40px;
  position: absolute;
  bottom: 0;
  z-index: 10;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}

.team-style07 .team-thumb .team-social .styled-icons li:nth-child(1) {
  position: absolute;
  opacity: 0;
  left: -10px;
  bottom: -20px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}

.team-style07 .team-thumb .team-social .styled-icons li:nth-child(2) {
  position: absolute;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: -40px;
  transition: all 0.3s ease-in-out;
}

.team-style07 .team-thumb .team-social .styled-icons li:nth-child(3) {
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: -20px;
  transition: all 0.3s ease-in-out;
}

.team-style07:hover .team-thumb .team-social .styled-icons li:nth-child(3) {
  position: absolute;
  right: 40px;
  bottom: 0;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s;
}

.team-style07:hover .team-thumb .team-social .styled-icons li:nth-child(2) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  opacity: 1;
  transition: all 0.5s ease-in-out 0s;
}

.team-style07 .team-thumb .team-social .styled-icons li a {
  background: #bb995c;
  color: #fff;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}
.mb-1-9,
.my-1-9 {
  margin-bottom: 1.9rem;
}

.styled-icons a {
  border: 2px solid transparent;
  color: #333;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  line-height: 2;
  margin-right: 4px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: 36px;
  transition: all 0.2s ease;
  border-radius: 50%;
}

.styled-icons li {
  display: inline-block;
  margin-bottom: 5px;
  margin-top: 0;
  padding-left: 0 !important;
}

/*LOGO BRANDS*/
/*logo*/
@import url("https://fonts.cdnfonts.com/css/league-spartan");
.brands {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.brands h1 {
  text-align: center;
  font-size: 50px;
  font-family: "League Spartan", sans-serif;
  font-weight: 600;
  color: #544541;
}

.logo-brands {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo-brands img {
  width: 200px;
  height: 150px;
  margin: 0 30px;
  background-color: white;
  mix-blend-mode: luminosity;
  filter: grayscale(1);
  opacity: 0.5;
  transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.logo-brands img:hover {
  filter: none;
  opacity: 1;
}

/*GALLERY*/
.gallery h1 {
  padding-top: 50px;
  margin: 50px;
  text-align: center;
  margin: 0 auto;
  font-family: "League Spartan", sans-serif;
  font-size: 50px;
  color: #544541;
  max-width: 400px; /* adjust the max-width value as needed */
}

/*FOOTER FOOTER*/
footer {
  padding: 50px 0;
  color: #000;
  margin: 0 !important;
  background-color: #f5f5dc;
}

.footer-column h6 {
  font-size: 24px;
  color: #333;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: normal;
  font-family: Montserrat;
  text-transform: uppercase;
}

p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  margin-top: 40px;
  line-height: 1.6;
  text-align: center;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.social-icons a {
  display: block;
  color: #544541;
}
.social-icons a:hover .fab.fa-facebook,
.social-icons a:hover .fab.fa-twitter,
.social-icons a:hover .fab.fa-linkedin {
  color: #0077b5;
}

.social-icons a:hover .fab.fa-instagram,
.social-icons a:hover .fab.fa-pinterest {
  color: #e60023;
}

.social-icons i {
  font-size: 20px;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #000;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #544541;
  text-decoration: none;
}

.footer-column .newsletter {
  margin-top: 20px;
}

.footer-column .newsletter input[type="email"] {
  width: 300px;
  border-radius: 0;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.input-group-append .btn-outline-secondary {
  background-color: #544541;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
  cursor: pointer;
  border: none;
  height: 40px;
}

.input-group-append .btn-outline-secondary:hover {
  background-color: black;
  color: #fff;
  border-color: black;
}

.footer-column .payment-options {
  margin-top: 20px;
}

.footer-column .payment-options img {
  height: 20px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  margin-bottom: 10px;
}

li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  color: #544541;
  text-decoration: none;
}

.bottom-footer {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: #544541;
  color: #fff;
  padding: 5px 20px;
  align-items: center;
  justify-content: center;
}

.bottom-footer-center {
  font-size: 14px;
}

/*LOGO BRANDS*/
/*logo*/
.brands {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.brands h1 {
  text-align: center;
  font-size: 50px;
  font-family: "League Spartan", sans-serif;

  font-weight: 500;
  color: #544541;
}

.logo-brands {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.logo-brands img {
  width: 200px;
  height: 150px;
  margin: 0 30px;
  background-color: white;
  mix-blend-mode: luminosity;
  filter: grayscale(1);
  opacity: 0.5;
  transition: filter 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.logo-brands img:hover {
  filter: none;
  opacity: 1;
}

/* Specific Styles for Mobile Devices */
@media (max-width: 767px) {
  /* Adjust the size and margins for the brand logos */
  .logo-brands {
    flex-direction: column;
    align-items: center;
  }

  .logo-brands img {
    width: 150px;
    height: 75px;
    margin: 15px 0;
  }
}

/* Specific Styles for Tablet Devices */
@media (min-width: 768px) and (max-width: 991px) {
  /* Adjust the size and margins for the brand logos */
  .logo-brands {
    flex-direction: column;
    align-items: center;
  }

  .logo-brands img {
    width: 200px;
    height: 112.5px;
    margin: 30px 0;
  }
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  footer {
    padding: 50px 0;
    color: #000;
    margin: 0 !important;
    background-color: #f5f5dc;
  }

  .footer-column {
    width: 100%;
    margin-bottom: 20px;
    text-align: center; /* Center align the text */
  }

  .footer-column h6 {
    font-size: 24px;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 600;
    line-height: normal;
    font-family: Montserrat;
    text-transform: uppercase;
    text-align: center; /* Center align the text */
  }
  p {
    color: #000;
    font-size: 16px;
    margin-top: 40px;
    line-height: 1.6;
  }

  .social-icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Center align the social icons */
  }

  .social-icons a {
    display: block;
    margin-right: 10px;
    color: #544541;
  }

  .social-icons a:hover .fab.fa-facebook,
  .social-icons a:hover .fab.fa-twitter,
  .social-icons a:hover .fab.fa-linkedin {
    color: #0077b5;
  }

  .social-icons a:hover .fab.fa-instagram,
  .social-icons a:hover .fab.fa-pinterest {
    color: #e60023;
  }

  .social-icons i {
    font-size: 20px;
  }

  .footer-column ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Center align the text */
  }

  .footer-column ul li {
    margin-bottom: 10px;
  }

  .footer-column ul li a {
    color: #000;
    text-decoration: none;
    display: inline-block; /* Display the link as inline-block */
  }

  .footer-column ul li a:hover {
    color: #544541;
    text-decoration: none;
  }

  .footer-column .newsletter {
    margin-top: 20px;
  }

  .footer-column .newsletter input[type="email"] {
    width: 100%;
    max-width: 300px;
    border-radius: 0;
    border: none;
    padding: 10px;
    margin-bottom: 10px;
  }

  .input-group-append .btn-outline-secondary {
    background-color: #544541;
    color: #fff;
    padding: 10px 20px;
    border-radius: 0;
    cursor: pointer;
    border: none;
    height: 40px;
  }

  .input-group-append .btn-outline-secondary:hover {
    background-color: black;
    color: #fff;
    border-color: black;
  }

  .footer-column .payment-options {
    margin-top: 20px;
  }

  .footer-column .payment-options img {
    height: 20px;
    margin-right: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: block;
    margin-bottom: 10px;
  }

  li a {
    color: black;
    text-decoration: none;
  }

  li a:hover {
    color: #544541;
    text-decoration: none;
  }

  .bottom-footer {
    display: flex;
    height: 40px;
    width: 100%;
    background-color: #544541;
    color: #fff;
    padding: 5px 20px;
    align-items: center;
    justify-content: center;
  }

  .bottom-footer-center {
    font-size: 14px;
  }
}

@media only screen and (max-width: 991px) {
  body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
  }

  h2 {
    font-family: Montserrat;
    margin-top: 20px;
    color: #fff;
  }

  .banner-content h1 {
    font-family: Crimson Pro;
    font-weight: 800;
    font-size: 30px;
    color: #fff;
  }

  .banner-content p {
    font-family: "Montserrat";
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
  }

  .image-wrap {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
  }

  .banner-content {
    position: absolute;
    z-index: 99999;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    line-height: 1.5;
  }

  .img-content img {
    width: 100%;
    height: 70vh;
    display: block;
    object-fit: cover;
  }

  .ban-btn {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
    font-family: Montserrat;
  }

  .btn-res {
    background-color: #544541;
    font-family: Montserrat !important;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 4px;
  }

  .btn-res:hover {
    background-color: #bb995c;
  }
}
