.new-background-color {
  --background: #544541;
}

h1 {
  text-align: center;
  font-family: Montserrat;
}

.btn-dark:hover {
  background-color: #544541;
}

.modalbtn {
  float: right;
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}

.modalbtnn {
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}

.btn-group {
  display: flex;
  position: relative;
  justify-content: center;
}

label {
  max-width: 250px;
  max-height: 250px;
  min-width: 250px;
  min-height: 250px;
  background-color: white;
  color: rgb(100, 66, 34);
  border: rgb(100, 66, 34) solid 1px;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
}

p {
  text-align: center;
  margin-top: 30px;
}

#icon {
  margin-top: 10px;
}

@media only screen and (max-width: 750px) {
  /* Add your responsive CSS here */

  .btn-group {
    left: 0;
  }

  label {
    max-width: 100%;
    min-width: 100%;
  }
}
