<ion-header>
  <ion-toolbar>
    <ion-title style="color: white;"><span *ngIf="button === 'login'" style="font-family: Montserrat;">Login As</span>
      <span *ngIf="button === 'register'" style="font-family: Montserrat;">Register As</span></ion-title>
    <ion-buttons slot="end">
      <ion-button style="color: white;" (click)="closeModal()"><ion-icon name="close"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <span *ngIf="button === 'login'">
    <ion-button (click)="closeModal()" [routerLink]="['/login']" [queryParams]="{ conditions: 'login' }"
      style="font-family: Montserrat;">Tenant</ion-button>
    <ion-button (click)="closeModal()" [routerLink]="['/owner-log-reg']" [queryParams]="{ conditions:  'login' }"
      style="font-family: Montserrat;">Owner</ion-button>
  </span>
  <span *ngIf="button === 'register'">
    <ion-button (click)="closeModal()" [routerLink]="['/login']" [queryParams]="{ conditions: 'register' }"
      style="font-family: Montserrat;">Tenant</ion-button>
    <ion-button (click)="closeModal()" [routerLink]="['/owner-log-reg']" [queryParams]="{ conditions: 'register' }"
      style="font-family: Montserrat;">Owner</ion-button>
  </span>
</ion-content>