h1{
  text-align: center;
}

.add{
  margin-left: 10px;
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 15px;
}

.bed{
  margin: 20px;
}

ion-toolbar{
  --background:#544541;
}

.modalbtn{
  float: right;
  background-color:#544541;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.modalbtnn{
  background-color:#544541;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.form{
  margin-top: 60px;
}
