ion-toolbar {
  --background: #544541;
}

h1 {
  text-align: center;
  font-family: Montserrat;
}

.modalbtn {
  float: right;
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}

.modalbtnn {
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}

.price {
  width: 50%;
  margin-top: 50px;
  margin-left: 263px;
  margin-right: 263px;
}

.p {
  font-size: 40px;
  font-family: Montserrat;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 20px;
  font-family: Montserrat;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-family: Montserrat;
}
