banner .text-content h1 {
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  font-family: Crimson Pro;
  font-size: 50px;
  color: #544541;
  font-weight: 800;
  max-width: 800px;
}

.bed_btn{
  width: 75px;
}

.container {
  margin-top: 50px;
}
.custom-banner {
  position: relative;
  overflow: hidden;
}
.custom-banner .banner-block {
  position: relative;
}
.custom-banner .banner-block img {
  display: block;
  width: 100%;
  height: auto;
  opacity: 0.7;
}
.custom-banner .banner-block .text-content {
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  left: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 60px;
  text-align: center;
  width: 45%;
  color: #544541;
}

.custom-banner .banner-block .text-content h2 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1;
  color: #544541;
  font-weight: 700;
  font-style: Crimson Pro, serif;
  letter-spacing: 2px;
}

// #carouselExampleControls {
//   margin-left: 60px;
//   width: 60%;
// }

.carousel-inner {
  max-height: 600px;
  object-fit: cover;
  display: flex;
  align-items: center;
}

#carouselExampleControls #myImg {
  border-radius: 4px;
  height: auto;
}

.price {
  float: right;
  min-width: 25%;
  margin-right: 95px;
  border: 1px inset rgb(0, 0, 0);
  max-width: 370px;
  max-height: 500px;
  height: 500px;
  box-shadow: 3px 4px #adadad;
  border-radius: 10px;
}

.price ion-col {
  width: 40px;
}

.price #pr {
  text-align: center;
  font-family: Montserrat;
}

.price #pr ion-select {
  margin-left: 15px;
  margin-top: 15px;
  width: 100px;
  min-width: 100px;
  border: 1px black solid;
}

.price #pr #p {
  margin-top: 10px;
  font-size: 20px;
  font-family: Montserrat;
}

.price #pr #priceBtn {
  background-color: rgb(194, 123, 17);
  padding-top: 15px;
  padding-bottom: 15px;
  width: 250px;
}

.detail .room-title {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 500;
  font-family: League Spartan;
  margin-top: 20px;
  margin-bottom: 10px;
}

.detail .room-type {
  margin-left: 18px;
  font-weight: 600;
  font-family: Montserrat;
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
}

.detail .rent {
  margin-left: 18px;
  font-weight: 600;
  font-family: Montserrat;
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
}

.detail .details {
  margin-left: 18px;
  font-weight: 600;
  font-family: Montserrat;
  color: #000;
  font-size: 20px;
  margin-bottom: 10px;
}

.detail .deets {
  margin-left: 18px;
  font-weight: 500;
  font-family: Montserrat;
  color: #333;
  font-size: 18px;
}

.detail .space-type {
  margin-left: 18px;
  font-weight: 500;
  font-family: Montserrat;
  color: #333;
  font-size: 18px;
}

.detail .amenities {
  font-family: Montserrat;
  color: #000;
  font-size: 20px;
  font-weight: 600;
}

.detail .amenities #amenities-header {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 600;
}

.detail .amenities #amenities {
  margin-left: 20px;
  min-width: 180px;
  text-align: center;
  padding: 10px;
  border: #000 solid 1px;
  font-size: 18px;
  margin-right: 20px;
  margin-top: 10px;
}

.detail .amenities #amenities span {
  color: #000;
}

.contact .contact-owner {
  margin-bottom: 10px;
  margin-left: 20px;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 500;
}

.contact .host {
  margin-left: 20px;
  font-family: Montserrat;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact-button {
  font-weight: bold;
  color: #fff;
  border-color: #333;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: Montserrat;
}

.contact-button:hover {
  background-color: #c38f32;
}

/*RATING*/

.rating-star {
  font-size: 20px;
  color: #c38f32;
  &:not(:last-child) {
    margin-right: 4px;
  }
}
form {
  margin-bottom: 50px;
  margin-left: 15px;
  border: 1px solid #ccc;
  font-size: 18px;
  padding: 1rem;
  font-family: Montserrat;
  width: 78%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

:host(.read-only) ion-icon {
  cursor: default;
}

.review-title {
  text-align: left;
}

.review-title h2 {
  font-size: 24px;
  font-weight: 500;
  color: #544541;
  font-family: Montserrat !important;
  margin-left: 20px;
  margin-top: -150px;
}

.rating-review {
  margin-top: 10px;
  margin-left: 20px;
  width: 60%;
  margin-left: 60px;
}

.rating-review #review {
  margin-bottom: 10px;
}

.reviewBTN {
  background-color: #544541;
  font-family: Montserrat;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
}

.reviewBTN:hover {
  background-color: #c38f32; /* Change background color on hover */
}

////////////////////

.content_btn {
  margin-left: 50px;
}

.content_btn ion-grid ion-row ion-col {
  font-size: 20px;
  border-top: #544541 solid 2px;
  border-left: #544541 solid 2px;
  border-right: #544541 solid 2px;
  border-radius: 5px;
  max-width: 90px;
  margin-left: 7px;
}

.content_btn ion-grid ion-row ion-col:hover {
  background-color: #544541;
  color: rgb(255, 255, 255);
  border-top: rgb(0, 0, 0) solid 4px;
  border-left: rgb(0, 0, 0) solid 4px;
  border-right: rgb(0, 0, 0) solid 4px;
}

/*ALL REVIEWS*/
/* Custom CSS styles for the review card */
.review-card {
  border: 2px solid #c38f32;
  border-radius: 8px;
  background-color: #fff;
  margin: 5px;
}

.review-card .card-body {
  padding: 20px;
}

.profile-pic-container {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-pic-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.review-text {
  font-size: 16px;
  line-height: 1;
  color: #555;
  font-family: Montserrat;
}

.reviewer-name {
  font-size: 20px;
  font-family: Montserrat;
  color: #333;
  font-weight: 600;
}

.role {
  font-size: 14px;
  color: #888;
  font-weight: 400;
  font-family: Montserrat;
}

.rating-container {
  top: 10px;
  right: 10px;
  bottom: 10px;
}

.map_container {
  #map {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    width: 95%;
    height: 503px;
    margin-top: 104px;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map {
      opacity: 1;
    }
  }
}

///////////////////////

#myImg {
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.9;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.occupied {
  opacity: 0.5;
}

.occupant {
  pointer-events: none;
}

.seat-status {
  display: none;
}

.contact span img {
  width: 70px;
  border-radius: 40px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.contact .name {
  font-size: 20px;
  justify-content: center;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.price-card {
  padding: 1em;
  padding-bottom: 0.5em;
  border-radius: 5%;
  color: #000;
  // margin-right: 95px;

  h2 {
    font-weight: bolder;
    font-size: 1.3em;
  }

  .payment-title {
    font-weight: bolder;
    font-size: 2em;
  }

  ion-card-content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .payment-col {
    display: flex;
    justify-content: center;
  }

  .payment-options {
    img {
      height: 50px;
      border-radius: 5px;
      margin-right: 1px;
    }
  }

  .price-text {
    padding-bottom: 20px;
    border-bottom: 2px solid #c5c3c2;
    font-weight: bolder;
  }

  ion-card-title {
    --color: var(--ion-color-primary);
  }

  // .selected {
  //   --background: #473C38;
  //   --background-hover: #473C38;
  //   --background-activated: #473C38;
  //   --background-focused: #473C38;
  // }
}

/*FOOTER FOOTER*/
footer {
  padding: 50px 0;
  color: #000;
  margin: 0 !important;
  background-color: #f5f5dc;
}

.footer-column h6 {
  font-size: 24px;
  color: #333;
  margin: 0;
  padding: 0;
  font-weight: 600;
  line-height: normal;
  font-family: Montserrat;
  text-transform: uppercase;
}
p {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.6;
  text-align: left;
}

.social-icons {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.social-icons a {
  display: block;
  margin-right: 20px;
  color: #544541;
}
.social-icons a:hover .fab.fa-facebook,
.social-icons a:hover .fab.fa-twitter,
.social-icons a:hover .fab.fa-linkedin {
  color: #0077b5;
}

.social-icons a:hover .fab.fa-instagram,
.social-icons a:hover .fab.fa-pinterest {
  color: #e60023;
}

.social-icons i {
  font-size: 20px;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #000;
  text-decoration: none;
}

.footer-column ul li a:hover {
  color: #544541;
  text-decoration: none;
}

.footer-column .newsletter {
  margin-top: 20px;
}

.footer-column .newsletter input[type="email"] {
  width: 300px;
  border-radius: 0;
  border: none;
  padding: 10px;
  margin-bottom: 10px;
}

.input-group-append .btn-outline-secondary {
  background-color: #544541;
  color: #fff;
  padding: 10px 20px;
  border-radius: 0;
  cursor: pointer;
  border: none;
  height: 40px;
}

.input-group-append .btn-outline-secondary:hover {
  background-color: black;
  color: #fff;
  border-color: black;
}

.footer-column .payment-options {
  margin-top: 20px;
}

.footer-column .payment-options img {
  height: 20px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
  margin-bottom: 10px;
}

li a {
  color: black;
  text-decoration: none;
}

li a:hover {
  color: #544541;
  text-decoration: none;
}

.bottom-footer {
  display: flex;
  height: 40px;
  width: 100%;
  background-color: #544541;
  color: #fff;
  padding: 5px 20px;
  align-items: center;
  justify-content: center;
}

.bottom-footer-center {
  font-size: 14px;
}

/*VIDEO VIDEO SECTION*/
.video-section {
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  margin: 50px;
}

h1 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: Montserrat;
}

p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 0 0 1rem;
  font-family: Montserrat;
  text-align: justify;
}

//////
///
///
///
///
///
body {
  background-color: #434c50;
  min-height: 50%;
  font: normal 16px sans-serif;
  padding: 0;
}

gallery {
  border-radius: 20px;
  background-color: #ececec;
}
.container.gallery-container {
  background-color: #fff;
  color: #fafafa;
  min-height: 50%;
}

.tz-gallery {
  padding: 40px;
}

.tz-gallery img {
  width: 50%;
  height: 50%;
  border-radius: 20px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:before {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  opacity: 0;
  color: #fff;
  font-size: 26px;
  font-family: "Glyphicons Halflings";
  content: "\e003";
  pointer-events: none;
  z-index: 9000;
  transition: 0.4s;
}

.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  opacity: 0;
  background-color: rgba(46, 132, 206, 0.7);
  content: "";
  transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}
.baguetteBox-button svg {
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}
