/* Styling for the header */
ion-header {
  padding: 5px;
}

ion-title div {
  margin-top: 78px;
  font-size: 20px;
  font-weight: bold;
  font-family: Montserrat;
}

/* Styling for the toolbar */
ion-toolbar {
  padding: 5px;
}

ion-searchbar {
  width: 100%;
  --background: transparent !important; /* Remove background color */
  --border-radius: 10px; /* Apply border radius */
}

/* Styling for the content */
ion-content {
  padding: 10px;
}

/* Styling for the list items */
ion-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

ion-item:hover {
  background-color: #f2f2f2;
  cursor: pointer;
  width: 100%;
}

ion-avatar img {
  width: 50px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

ion-label {
  margin-left: 10px;
}

h2 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: Montserrat;
}

p {
  font-size: 14px;
  color: #888;
  font-family: Montserrat;
}

small {
  font-size: 12px;
  color: #888;
  margin-left: auto;
  font-family: Montserrat;
}

/* Styling for the loading spinner */
.ion-text-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

ion-spinner {
  --ion-color-primary: #488aff;
}

/* Styling for no conversations message */
ion-text.ion-text-center {
  margin-top: 100px;
}
