
.modalbtn{
  float: right;
  background-color:rgb(100, 66, 34);
  color:white;
  padding: 15px;
  font-size: 20px;
}

h1{
  font-weight: 900;
}

.text{
  margin-top: 35px;
  margin-left: 50px;
}

h2{
  margin-top: 70px;
}

.image{
  float: right;
  width: 300px;
  height: 300px;
  margin-top: 40px;
  margin-right: 95px;
}
