<ion-content>
  <input type="checkbox" id="menu-toggle">
  <div class="sidebar">
    <div class="side-header">
      <h3>Dash<span>board</span></h3>
    </div>

    <div class="side-content">
      <div class="profile">
        <div class="profile-img bg-img" style="background-image: url('../../assets/user2.png')"></div>
        <small>Admin</small>
      </div>

      <div class="side-menu">
        <ul>
          <li>
            <a type="button" class="active" [class.active]="(switch | async) === 'owner'"
              (click)="switch.next('owner')">
              <span class="las la-home"></span>
              <small>Owner List</small>
            </a>
          </li>
          <li>
            <a type="button" class="active" [class.active]="(switch | async) === 'room'" (click)="switch.next('room')">
              <span class="las la-user-alt"></span>
              <small>Room List</small>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <div class="main-content">

    <header>
      <div class="header-content">
        <label for="menu-toggle">
          <span class="las la-bars"></span>
        </label>

        <div class="header-menu">
          <label for="">
            <span class="las la-search"></span>
          </label>

          <div class="user">
            <button type="button" class="btn btn-dark" (click)="authService.SignOutAdmin()"
            ><span><i class="bi bi-box-arrow-left"></i></span>LOGOUT</button>
          </div>
        </div>
      </div>
    </header>

    <!--OWNER-->
    <main *ngIf="(switch | async) === 'owner'">
      <div class="page-header">
        <h1>Owner List</h1>
        <small>Home / Owner List</small>
      </div>

      <div class="page-content">

        <div class="analytics">

          <div class="card" type="button" [class.active]="(status | async) === 'pending'"
            (click)="status.next('pending')">
            <div class="card-head">
              <h2>{{totalOwnerPending}}</h2>
              <span class="las la-user-friends"></span>
            </div>
            <div class="card-progress">
              <small>Pending</small>
            </div>
          </div>

          <div class="card" type="button" [class.active]="(status | async) === 'approved'"
            (click)="status.next('approved')">
            <div class="card-head">
              <h2>{{totalOwnerApprove}}</h2>
              <span class="las la-eye"></span>
            </div>
            <div class="card-progress">
              <small>Approved</small>
            </div>
          </div>

          <div class="card" type="button" [class.active]="(status | async) === 'rejected'"
            (click)="status.next('rejected')">
            <div class="card-head">
              <h2>{{totalOwnerReject}}</h2>
              <span class="las la-shopping-cart"></span>
            </div>
            <div class="card-progress">
              <small>Rejected</small>

            </div>
          </div>

        </div>


        <div class="records table-responsive">

          <div class="record-header">
            <!--<div class="add">
              <span>Entries</span>
              <select name="" id="" style="background-color: transparent;">
                <option value="">Name</option>
                <option value="">Address</option>
              </select>
            </div>-->

            <div class="browse">
                  <input type="search" [(ngModel)]="searchText"
                  (ngModelChange)="filterOwnerPending(); filterOwnerApprove(); filterOwnerReject()"
                  placeholder="Search" class="record-search" style="background-color: transparent;">
                  <select name="" id="" [(ngModel)]="searchOption" style="background-color: transparent;" >
                    <option value=""></option>
                    <option value="name">Name</option>
                    <option value="email">Email</option>
                    <option value="address">Address</option>
                  </select>
            </div>
          </div>

          <div>
            <table width="100%" #ownerPDF>
              <thead >
                <tr>
                  <th><span class="las la-sort"></span> Owner</th>
                  <th><span class="las la-sort"></span> Address</th>
                  <th><span class="las la-sort"></span> Business Permit</th>
                  <th><span class="las la-sort"></span> Valid ID</th>
                  <th><span class="las la-sort"></span> Active</th>
                </tr>
              </thead>

              <!--Pending-->
              <tbody *ngIf="(status | async) === 'pending'">
                <tr *ngFor="let data of pendingOwnerList | async ">
                  <td>
                    <div class="client">
                      <div *ngIf="!data.profpic" class="client-img bg-img" style="background-image: url('../../assets/user2.png')"></div>
                      <div *ngIf="data.profpic" class="client-img bg-img" style="background-image: url({{data.profpic}})"></div>
                      <div class="client-info">
                        <h4>{{data.FName}} {{data.LName}}</h4>
                        <small>{{data.Email}}</small>
                        <small>{{data?.PhoneNum}}</small>
                      </div>
                    </div>
                  </td>
                  <td style="max-width: 180px;">
                    {{data.Address}}
                  </td>
                  <td gallerize="{{data.id}}" selector="span">
                    <span [attr.imageSrc]="data.BusinessPermit" [attr.thumbSrc]="data.BusinessPermit">
                      Business Permit<br/>
                    </span>
                </td>
                <td gallerize="{{data.id}}" selector="span">
                  <span [attr.imageSrc]="data.ValidID" [attr.thumbSrc]="data.ValidID">
                    Valid ID<br/>
                  </span>
              </td>
                  <td>
                    <div class="actions">
                      <ion-icon type="button" (click)="ApproveOwner(data.id)"
                        name="shield-checkmark-outline"></ion-icon>
                      <ion-icon type="button" (click)="RejectOwner(data.id)" name="archive-outline"></ion-icon>
                    </div>
                  </td>
                </tr>
                <ion-button (click)="generatePDF('pending')">Export into PDF</ion-button>
                <ion-button (click)="exportToCSV('pending')">Export to CSV</ion-button>
              </tbody>

              <!--Pending-->

              <!--Approve-->
              <tbody *ngIf="(status | async) === 'approved'" >
                <tr *ngFor="let data of approveOwnerList | async">
                  <td>
                    <div class="client">
                      <div *ngIf="!data.profpic" class="client-img bg-img" style="background-image: url('../../assets/user2.png')"></div>
                      <div *ngIf="data.profpic" class="client-img bg-img" style="background-image: url({{data.profpic}})"></div>
                      <div class="client-info">
                        <h4>{{data.FName}} {{data.LName}}</h4>
                        <small>{{data.Email}}</small>
                        <small>{{data?.PhoneNum}}</small>
                      </div>
                    </div>
                  </td>
                  <td style="max-width: 180px;">
                    {{data.Address}}
                  </td>
                  <td gallerize="{{data.id}}" selector="span">
                    <span [attr.imageSrc]="data.BusinessPermit" [attr.thumbSrc]="data.BusinessPermit">
                      Business Permit<br/>
                    </span>
                </td>
                <td gallerize="{{data.id}}" selector="span">
                  <span [attr.imageSrc]="data.ValidID" [attr.thumbSrc]="data.ValidID">
                    Valid ID<br/>
                  </span>
              </td>
                  <td>
                    <div class="actions">
                      <ion-icon type="button" (click)="ApproveOwner(data.id)"
                        name="shield-checkmark-outline"></ion-icon>
                      <ion-icon type="button" (click)="RejectOwner(data.id)" name="archive-outline"></ion-icon>
                    </div>
                  </td>
                </tr>
                <ion-button (click)="generatePDF('approve')">Export into PDF</ion-button>
                <ion-button (click)="exportToCSV('approve')">Export to CSV</ion-button>
              </tbody>
              <!--Approve-->

              <!--Reject-->
              <tbody *ngIf="(status | async) === 'rejected'" #ownerRejectPDF>
                  <tr *ngFor="let data of rejectOwnerList | async">
                    <td>
                      <div class="client">
                        <div *ngIf="!data.profpic" class="client-img bg-img" style="background-image: url('../../assets/user2.png')"></div>
                        <div *ngIf="data.profpic" class="client-img bg-img" style="background-image: url({{data.profpic}})"></div>
                        <div class="client-info">
                          <h4>{{data.FName}} {{data.LName}}</h4>
                          <small>{{data.Email}}</small>
                          <small>{{data?.PhoneNum}}</small>
                        </div>
                      </div>
                    </td>
                    <td style="max-width: 180px;">
                      {{data.Address}}
                    </td>
                    <td gallerize="{{data.id}}" selector="span">
                      <span [attr.imageSrc]="data.BusinessPermit" [attr.thumbSrc]="data.BusinessPermit">
                        Business Permit<br/>
                      </span>
                  </td>
                  <td gallerize="{{data.id}}" selector="span">
                    <span [attr.imageSrc]="data.ValidID" [attr.thumbSrc]="data.ValidID">
                      Valid ID<br/>
                    </span>
                </td>
                    <td>
                      <div class="actions">
                        <ion-icon type="button" (click)="ApproveOwner(data.id)"
                          name="shield-checkmark-outline"></ion-icon>
                        <ion-icon type="button" (click)="RejectOwner(data.id)" name="archive-outline"></ion-icon>
                      </div>
                    </td>
                  </tr>
                  <ion-button (click)="generatePDF('reject')">Export into PDF</ion-button>
                  <ion-button (click)="exportToCSV('reject')">Export to CSV</ion-button>
              </tbody>
              <!--Reject-->
            </table>
          </div>

        </div>

      </div>
    </main>
    <!--OWNER-->


    <!--ROOM-->
    <main *ngIf="(switch | async) === 'room'">
      <div class="page-header">
        <h1>Room List</h1>
        <small>Home / Room List</small>
      </div>

      <div class="page-content">

        <div class="analytics">

          <div class="card" type="button" [class.active]="(status | async) === 'pending'"
            (click)="status.next('pending')">
            <div class="card-head">
              <h2>{{totalRoomPending}}</h2>
              <span class="las la-user-friends"></span>
            </div>
            <div class="card-progress">
              <small>Pending</small>
            </div>
          </div>

          <div class="card" type="button" [class.active]="(status | async) === 'approved'"
            (click)="status.next('approved')">
            <div class="card-head">
              <h2>{{totalRoomApprove}}</h2>
              <span class="las la-eye"></span>
            </div>
            <div class="card-progress">
              <small>Approved</small>
            </div>
          </div>

          <div class="card" type="button" [class.active]="(status | async) === 'rejected'"
            (click)="status.next('rejected')">
            <div class="card-head">
              <h2>{{totalRoomReject}}</h2>
              <span class="las la-shopping-cart"></span>
            </div>
            <div class="card-progress">
              <small>Rejected</small>

            </div>
          </div>

        </div>


        <div class="records table-responsive">

          <div class="record-header">
            <!--<div class="add">
              <span>Entries</span>
              <select name="" id="">
                <option value="">ID</option>
              </select>
            </div>-->

            <div class="browse">
              <input type="search" [(ngModel)]="searchText"
              (ngModelChange)="filterRoomPending();filterRoomApprove();filterRoomReject();"
              placeholder="Search" class="record-search" style="background-color: transparent;">
              <select name="" id="" [(ngModel)]="searchOption" style="background-color: transparent;" >
                <option value=""></option>
                <option value="property">Property Name</option>
                <option value="rent">Rent</option>
                <option value="room">Room</option>
                <option value="address">Address</option>
                <option value="amenities">Amenities</option>
              </select>
            </div>
          </div>

          <div>
            <table width="100%" #roomPDF>
              <thead>
                <tr>
                  <th><span class="las la-sort"></span> Property</th>
                  <th><span class="las la-sort"></span> Rent</th>
                  <th><span class="las la-sort"></span> Room</th>
                  <th><span class="las la-sort"></span> Bed</th>
                  <th><span class="las la-sort"></span> Price</th>
                  <th><span class="las la-sort"></span> Address</th>
                  <th><span class="las la-sort"></span> Images</th>
                  <th><span class="las la-sort"></span> Amenities</th>
                  <th><span class="las la-sort"></span> Active</th>
                </tr>
              </thead>

              <!--Pending-->
              <tbody *ngIf="(status | async) === 'pending'">
                <tr *ngFor="let data of pendingRoomList | async">
                  <td>
                    <div style="font-size: 17px;">{{data.Title}}</div>
                  </td>
                  <td>
                    {{data.Rent}}
                  </td>
                  <td>
                    {{data.RoomName}}<br />
                    <small>{{data.RoomType}}</small>
                  </td>
                  <td>
                    <span *ngFor="let bed of data.Bed">B{{bed.id}}-{{bed.status}}<br /></span>
                  </td>
                  <td>
                    {{data.Price}}
                  </td>
                  <td style="max-width: 180px;">
                    <div>{{data.Street}}, {{data.Barangay}}, <br/>{{data.City}}, {{data.Province}}, <br/>{{data.ZIP}}</div>
                  </td>
                  <td gallerize="{{data.id}}" selector="span">
                    <span *ngFor="let img of data.Images; let i = index" [attr.imageSrc]="img" [attr.thumbSrc]="img">
                      Image {{i+1}}<br/>
                    </span>
                </td>
                  <td>
                    <span *ngFor="let amenities of data.Amenities">{{amenities}}<br /></span>
                  </td>
                  <td>
                    <div class="actions">
                      <ion-icon type="button" (click)="ApproveRoom(data.id)"
                        name="shield-checkmark-outline"></ion-icon>
                      <ion-icon type="button" (click)="RejectRoom(data.id)" name="archive-outline"></ion-icon>
                    </div>
                  </td>
                </tr>
                <ion-button (click)="generatePDFR('pending')">Export into PDF</ion-button>
                <ion-button (click)="exportToCSVR('pending')">Export to CSV</ion-button>
              </tbody>
              <!--Pending-->

              <!--Approve-->
              <tbody *ngIf="(status | async) === 'approved'">
                <tr *ngFor="let data of approveRoomList | async">
                  <td>
                    <div style="font-size: 17px;">{{data.Title}}</div>
                  </td>
                  <td>
                    {{data.Rent}}
                  </td>
                  <td>
                    {{data.RoomName}}<br />
                    <small>{{data.RoomType}}</small>
                  </td>
                  <td>
                    <span *ngFor="let bed of data.Bed">B{{bed.id}}-{{bed.status}}<br /></span>
                  </td>
                  <td>
                    {{data.Price}}
                  </td>
                  <td>
                    <div>{{data.Street}}, {{data.Barangay}}, <br/>{{data.City}}, {{data.Province}}, <br/>{{data.ZIP}}</div>
                  </td>
                  <td gallerize="{{data.id}}" selector="span">
                    <span *ngFor="let img of data.Images; let i = index" [attr.imageSrc]="img" [attr.thumbSrc]="img">
                      Image {{i+1}}<br/>
                    </span>
                </td>
                  <td>
                    <span *ngFor="let amenities of data.Amenities">{{amenities}}<br /></span>
                  </td>
                  <td>
                    <div class="actions">
                      <ion-icon type="button" (click)="RejectRoom(data.id)" name="archive-outline"></ion-icon>
                    </div>
                  </td>
                </tr>
                <ion-button (click)="generatePDFR('approve')">Export into PDF</ion-button>
                <ion-button (click)="exportToCSVR('approve')">Export to CSV</ion-button>
              </tbody>
              <!--Approve-->

              <!--Reject-->
              <tbody *ngIf="(status | async) === 'rejected'">
                  <tr *ngFor="let data of rejectRoomList | async">
                    <td>
                      <div style="font-size: 17px;">{{data.Title}}</div>
                    </td>
                    <td>
                      {{data.Rent}}
                    </td>
                    <td>
                      {{data.RoomName}}<br />
                      <small>{{data.RoomType}}</small>
                    </td>
                    <td>
                      <span *ngFor="let bed of data.Bed">B{{bed.id}}-{{bed.status}}<br /></span>
                    </td>
                    <td>
                      {{data.Price}}
                    </td>
                    <td style="max-width: 180px;">
                      <div>{{data.Street}}, {{data.Barangay}}, <br/>{{data.City}}, {{data.Province}}, <br/>{{data.ZIP}}</div>
                    </td>
                    <td gallerize="{{data.id}}" selector="span">
                      <span *ngFor="let img of data.Images; let i = index" [attr.imageSrc]="img" [attr.thumbSrc]="img">
                        Image {{i+1}}<br/>
                      </span>
                  </td>
                    <td>
                      <span *ngFor="let amenities of data.Amenities">{{amenities}}<br /></span>
                    </td>
                    <td>
                      <div class="actions">
                        <ion-icon type="button" (click)="ApproveRoom(data.id)"
                          name="shield-checkmark-outline"></ion-icon>
                      </div>
                    </td>
                  </tr>
                <ion-button (click)="generatePDFR('reject')">Export into PDF</ion-button>
                <ion-button (click)="exportToCSVR('reject')">Export to CSV</ion-button>
              </tbody>
              <!--Reject-->
            </table>
          </div>

        </div>

      </div>

    </main>

  </div>
</ion-content>
