.chat-page {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  overflow: hidden;
  @media (max-width: 575px) {
    margin-top: 0px;
  }
}

app-chat-section {
  height: calc(100vh - 75px);
  border-left: solid black 1px;
}

app-chatlist {
  margin-top: 50px;
  width: 400px;
}

@media (max-width: 585px) {
  app-chatlist {
    display: none;
  }
}
