.form-group {
  margin-bottom: 10px;
  padding: 10px;
}

.form-group ion-label {
  font-size: 16px;
  font-family: Montserrat;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  background-color: #f2f2f2;
}

.modal-footer input[type="button"],
.modal-footer input[type="submit"] {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
}

.modal-footer input[type="button"] {
  background-color: gray;
  color: #fff;
  border: none;
}

.modal-footer input[type="submit"] {
  background-color: #544541;
  color: #fff;
  border: none;
}

h1 {
  margin-left: 10px;
}

.close {
  font-size: 25px;
  padding: 10px;
  line-height: 1;
  margin-right: 20px;
  margin-top: 5px;
  background-color: #544541;
  color: #fff;
  border-radius: 5px;
}

.image_btn {
  background-color: #544541;
  padding: 10px;
  border: white solid 1px;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  font-family: Montserrat;
}

ion-grid ion-row .img {
  margin: 0 5px;
  padding: 1px;
  max-width: 190px;
  border: #544541 dashed 2px;
  ion-button {
    position: absolute;
    top: 0;
    right: 0;
  }
}

ion-grid ion-row .img img {
  max-width: 180px;
  justify-content: center;
}
