ion-content {
  overflow: auto;
}

ion-toolbar {
  --background: #544541;
}

h1 {
  text-align: center;
  font-family: Montserrat;
}

.modalbtn {
  float: right;
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}

.modalbtnn {
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}

.form {
  margin: 20px;
}

ion-content {
  #map {
    width: 80%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 150ms ease-in;
    display: block;
    &.show-map {
      opacity: 1;
    }
  }
}
