ion-toolbar{
  --background:#544541;
}

h1 {
  text-align: center;
}

.modalbtn{
  float: right;
  background-color:#544541;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.modalbtnn{
  background-color:#544541;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.textArea {
  margin-top: 160px;
  margin-left: 40px;
  margin-right: 40px;
}

textarea {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  background-color: white;
}
