<nav class="navbar navbar-expand-sm sticky-top">
  <img src="assets/real logo.png" width=120 id="logo">
  <button class="navbar-toggler" type="button" (click)="toggleMenu()" [class.collapsed]="!isMenuOpen"
    aria-controls="navbarNavDropdown" [attr.aria-expanded]="isMenuOpen ? 'true' : 'false'"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" style="color: white;"></span>
  </button>
  <div class="collapse navbar-collapse" [class.show]="isMenuOpen" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/about-us']">About<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/contact-us']">Contact<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/terms-condition']">Terms & Condition<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active" *ngIf="filterOwner() === true">
        <a class="nav-link" [routerLink]="['/owner-panel']">Owner Panel<span class="sr-only"></span></a>
      </li>
      <li class="nav-item active" *ngIf="filterTenant() === true">
        <a class="nav-link" [routerLink]="['/tenant-panel']">Tenant Panel<span class="sr-only"></span></a>
      </li>
    </ul>
  </div>

  <div class="dropdown">
    <button class="btn dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
      aria-expanded="false">
      <span *ngIf="filterTenant() === true && !isMenuOpen"><img src="{{tenant?.profpic}}"></span>
      <span *ngIf="filterOwner() === true && !isMenuOpen"><img src="{{owner?.profpic}}"></span>
      <span *ngIf="isMenuOpen">Account</span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
      <span *ngIf="isLogin()===false">
        <li><button class="dropdown-item" style="font-size: 18px; font-family: Montserrat; font-weight: 600;"
            (click)="gotoLogModalL()"><i class="bi bi-box-arrow-in-right" style="font-size:x-large;"></i>Login</button>
        </li>
        <li><button class=" dropdown-item" style="font-size: 18px; font-family: Montserrat; font-weight: 600;"
            (click)="gotoLogModalR()"><i class="bi bi-pencil-square"></i>Register</button></li>
      </span>
      <span *ngIf="filterTenant() === true">
        <div>
          <span><img src="{{tenant?.profpic}}">
            <div>{{tenant?.FName}} {{tenant?.LName}}</div>
          </span>
        </div>
        <li><button class="dropdown-item" style="font-size: 18px; font-family: Montserrat; font-weight: 600;"
            (click)="gotoEditProfile()"><i class="bi bi-person-circle"></i>Edit Profile</button>
        </li>
      </span>
      <span *ngIf="filterOwner() === true">
        <div>
          <span><img src="{{owner?.profpic}}">
            <div>{{owner?.FName}} {{owner?.LName}}</div>
          </span>
        </div>
        <li><button class="dropdown-item" style="font-size: 18px; font-family: Montserrat; font-weight: 600;"
            (click)="gotoEditOwnerProfile()"><i class="bi bi-person-circle"></i>Edit
            Profile</button></li>
      </span>
      <span *ngIf="isLogin()===true">
        <li><button class="dropdown-item" style="font-size: 18px; font-family: Montserrat; font-weight: 600;"
            (click)="authService.SignOut()"><i class="bi bi-box-arrow-left"></i>Logout</button></li>
      </span>
    </ul>
  </div>
</nav>