#logo {
  width: 100px;
  margin: 80px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: sticky;
  height: 80px;
  margin-bottom: -107px;
  padding: 0px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
}

.navbar::before, .navbar::after { display: none; }
.navbar > .menu-section { display: flex; align-items: center; }
#navbarNavDropdown {
  position: fixed;
  top: 8rem;
  left: 0;
  background: #fff;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  font-weight: bold;
}

.navbar .nav-link {
  display: flex;
  color: #544541;
  font-size: 20px;
  margin-left: 100px;
  font-family: Montserrat;
  margin: 10px;
  padding: 20px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.navbar .nav-link:hover {
  color: #c38f32;
}

.navbar .dropdown {
  margin-right: 115px;
}

.navbar .dropdown .dropdown-item {
  font-size: 10px;
}

.navbar .dropdown .dropdown-toggle img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.dropdown-toggle {
  max-width: 75px;
  background-color: transparent;
  border: none;
}
.navbar .dropdown .dropdown-menu {
  width: 300px !important;
  margin-left: -50px;
  margin-top: 20px;
}

.dropdown-menu span {
  display: block;
  overflow: hidden;
}

.dropdown-menu span img {
  display: block;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 50%;
  height: 50px;
  border: 2px solid #c38f32;
}

.dropdown-menu span div {
  margin-top: 10px;
  padding-left: 20px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
}

.dropdown-menu span .bi {
  color: #c38f32;
  font-size: 30px;
  margin-top: 20px;
  margin: 10px;
}

.bi::before {
  font-size: 30px;
  margin-top: 10px;
  color: #c38f32;
}
.login-modal {
  ion-modal {
    --max-height: 250px;
    --max-width: 600px;
  }

  ion-modal ion-content ion-button {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    min-height: 50px;
  }
}

//notification//
#bill .btn {
  background-color: #c3afaa;
  color: white;
  margin-left: 5px;
  border-radius: 10px 10px 0px 0px;
}

#bill #unpaid ion-grid ion-row,
#bill #paid ion-grid ion-row {
  background-color: rgb(226, 226, 226);
  color: #544541;
  margin: 5px 2px 5px 2px;
  padding: 10px;
}

ion-popover {
  --width: 500px;
}

.card {
  background-color: rgb(226, 226, 226);
  max-width: 430px;
  padding: 10px;
  color: #544541;
}

.card .cardName {
  font-size: 20px;
  font-weight: 600;
}

.card .cardStatus,
.card .cardPayment {
  font-size: 16px;
}

.bill {
  .bills-header {
    margin-bottom: 0;
    padding-bottom: 0;
    ion-col {
      margin-bottom: 0;
      &.active {
        background-color: var(--ion-color-primary) !important;
      }
    }
  }
  .bills-body {
    margin-top: 0;
    padding-top: 0;
    ion-grid {
      margin-top: 0;
      padding-top: 0;
      ion-row:first-child {
        margin-top: 0 !important;
        ion-col {
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
  }
}
//notification//

@media (max-width: 767px) {
  .navbar {
    height: auto;
    margin-bottom: 0;
  }

  .navbar .nav-link {
    font-size: 16px;
    margin: 10px;
    padding: 10px;
  }

  .navbar .dropdown .dropdown-menu { position: absolute; left: -85px; width: 135px !important; }

  .navbar .dropdown .dropdown-item {
    font-size: 12px;
  }

  .navbar .navbar-toggler {
    margin: 10px;
  }

  .navbar .navbar-collapse {
    position: static;
    background-color: transparent;
    padding: 0;
    text-align: left;
  }

  .navbar .navbar-collapse .nav-link {
    margin: 5px;
  }

  .navbar .navbar-collapse.collapsed {
    display: none;
  }
}

@media (max-width: 767px) {
  // Display
  .dp-xs-none { display: none; }
  .dp-xs-block { display: block; }
  .dp-xs-flex { display: flex; }

  #logo {
    width: 80px;
    margin: 10px;
  }

  .navbar { display: flex; justify-content: space-between; align-items: center; z-index: 999999; border-bottom: 1px solid #313131; }
  .navbar:before, .navbar:after { display: none; }

  .navbar .nav-link {
    font-size: 14px;
  }

  .navbar .dropdown #dropdownMenu2 img {
    width: 100%;
    justify-content: end;
    align-items: end;
  }

  .navbar .dropdown #dropdownMenu2 {
    justify-content: end;
    margin-bottom: 0;
    padding-bottom: 0;
    max-width: 80px;
    max-height: 35px;
  }
}
