ion-toolbar {
  --background: #544541;
}

ion-grid ion-row {
  border-bottom: #544541 solid 1px;
  padding-bottom: 15px;
  margin-top: 5px;
}

.modalbtn {
  float: right;
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}

.modalbtnn {
  background-color: #544541;
  color: white;
  padding: 15px;
  font-size: 20px;
  font-family: Montserrat;
}
