<ion-content class="auth-form">

  <app-site-header></app-site-header>
  <!--<div class="header">
    <img src="assets/spotAhome.png" width=150 id="logo">

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
        aria-expanded="false">
        <img src="assets/user2.png">
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
        <li><button class="dropdown-item" [routerLink]="['/login']">Login</button></li>
        <li><button class="dropdown-item" [routerLink]="['/registration']">Register</button></li>
        <li><button class="dropdown-item" [routerLink]="['/admin']">Admin</button></li>
        <li><button class="dropdown-item" (click)="authService.SignOut()">Logout</button></li>
        <li><button class="dropdown-item" [routerLink]="['/test']">Test</button></li>
        <li class="owner">
          <button class="dropdown-item" [routerLink]="['/owner-panel']">owner-panel</button>
        </li>
      </ul>
    </div>
  </div>-->

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" style="border-radius: 50px; ">
        <img src="assets/homebanner1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/homebanner2.png" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <div class="filter-container">
    <div class="filters">
      <ion-item class="filter">
        <ion-select interface="popover" placeholder="Select Place" [(ngModel)]="barangay" (ionChange)="getAd(barangay)">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option *ngFor="let ad of filterPlace" [value]="ad">{{ad}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="filter">
        <ion-select interface="popover" placeholder="Select Rent" [(ngModel)]="rent" (ionChange)="getRe(rent)">
          <ion-select-option [value]="null"></ion-select-option>
          <ion-select-option *ngFor="let re of filterRent" [value]="re">{{re}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="filter-range">
        <p>₱{{price.lower}} - ₱{{price.upper}}</p>
        <ion-range [dualKnobs]="true" [min]="0" [max]="priceMax" [(ngModel)]="price"
          (ionChange)="filterPrice()"></ion-range>
      </ion-item>
    </div>
  </div>

  <div class="brands">
    <h1>ENTIRE CITY OF CHOICE</h1>
  </div>

  <ion-grid *ngIf="(list | async)?.length === 0">
    <ion-row>
      <ion-col class="no_record">
      <div>
        <ion-icon name="search" style="color: black; font-size: 40px;"></ion-icon>
      </div>

      <h4>
        No rooms found
      </h4>
  </ion-col>
  </ion-row>
  </ion-grid>

  <span *ngFor="let item of (list | async)?.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
  </span>

  <div class="room-container">
    <ng-container
      *ngFor="let item of (list | async)?.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
      <div *ngIf="(!item?.isUnlisted || item?.isUnlisted==='false') &&
      (item.Permitted==='true')" class="room" type="button" [routerLink]="['/','room',item.id]">
        <div>
          <div class="over">
            <img src="{{item.Images[0]}}" class="img">
          </div>

          <div class="details">
            <p id="p1" value="na">{{item.Title}}</p>
            <p id="p3" value="ad">
              <i class="bi bi-geo-alt-fill"></i> {{item.Street}}, {{item.Barangay}}, {{item.City}}, {{item.Province}}
            </p>
          </div>
        </div>
        <div class="footer">
          <div id="p2" value="pr">{{item.Price | currency:'₱'}}/month</div>
        </div>
      </div>
    </ng-container>
  </div>

  <section class="pagination">
    <div class="page_container">
      <ion-icon type="button" (click)="previousPage()" name="arrow-undo"></ion-icon>
      <ion-icon type="button" (click)="nextPage()" name="arrow-redo"></ion-icon>
      <!--<ion-button (click)="previousPage()" [disabled]="currentPage === 1">Previous</ion-button>
      <ion-button (click)="nextPage()" [disabled]="currentPage === getTotalPages()">Next</ion-button>-->
    </div>
  </section>

  <section class="video-section">
    <div class="col">
      <img src="assets/banner5.png">
    </div>
  </section>

  <section class="services-section">
    <div class="brands">
      <h1>OUR SERVICES</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="service-box">
            <i class="bi bi-credit-card"></i>
            <h3>Cashless Payments</h3>
            <p>Discover, book, and pay with ease: Experience hassle-free boarding house search and reservation with
              cashless payments.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="service-box">
            <i class="bi bi-chat-right-dots"></i>
            <h3>In-app Chat</h3>
            <p>Chat your way to a perfect stay: Enjoy in-app communication for hassle-free boarding house search and
              reservation</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="service-box">
            <i class="bi bi-geo-alt"></i>
            <h3>Map</h3>
            <p>Navigate your way to the perfect stay: Discover and book with ease using our interactive map.</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="service-box">
            <i class="bi bi-house-heart"></i>
            <h3>Reservation</h3>
            <p>Secure your spot with a simple tap: Reserve your dream boarding house effortlessly.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="brands">
    <h1>SOME OF OUR CLIENTS</h1>
  </div>
  <div class="logo-brands">
    <img src="assets/ourhome.png" alt="Brand 1">
    <img src="assets/dxb.png" alt="Brand 2">
    <img src="assets/nelis.png" alt="Brand 3">
    <img src="assets/M2LC.png" alt="Brand 3">
    <img src="assets/angeles place.png" alt="Brand 3">
  </div>


  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <img src="assets/footer logo.png" alt="Logo">
          <p style="font-family: Montserrat; font-size: 16px;">A boarding house search & reservation in Science City of
            Muñoz.</p>
          <ul class="social-icons">
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-linkedin"></ion-icon></a>
            <a href="#"><ion-icon name="mail"></ion-icon></a>
            <a href="#"><ion-icon name="logo-dribbble"></ion-icon></a>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="font-family: Montserrat; font-size: 16px;">ABOUT SPOT-A-HOME</h6>
          <ul class="footer-links">
            <li><a href="#" style="font-family: Montserrat; font-size: 16px;">About Us</a></li>
            <li><a href="#" style="font-family: Montserrat; font-size: 16px;">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="font-family: Montserrat; font-size: 16px;">TERMS & POLICY</h6>
          <ul class="footer-links">
            <li><a href="#" style="font-family: Montserrat; font-size: 16px;">Terms & Condition</a></li>
            <li><a href="#" style="font-family: Montserrat; font-size: 16px;">Privacy Policy</a></li>

          </ul>
        </div>
        <div class="col-md-3">
          <h6 style="font-family: Montserrat; font-size: 16px;">NEWSLETTER</h6>
          <p style="font-family: Montserrat; font-size: 16px;">Here's our mode of payments.</p>
          <img src="assets/p1.png">
          <img src="assets/p2.png">
          <img src="assets/p3.png">
          <img src="assets/p4.png">
          <img src="assets/p5.png">
        </div>
      </div>
    </div>
  </footer>

  <footer class="bottom-footer">
    <div class="bottom-footer-center" style="font-family: Montserrat; font-size: 16px;">
      Copyright <span>&copy;</span> 2023 SPOT-A-HOME By CJL
    </div>
  </footer>
</ion-content>
