h1 {
  text-align: center;
}

.modalbtn{
  float: right;
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.modalbtnn{
  background-color:black;
  color:white;
  padding: 15px;
  font-size: 20px;
}

.image_btn{
  background-color:rgb(100, 66, 34);
  padding: 10px;
  border: white solid 1px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
}

ion-grid ion-row .img{
  margin: 5px;
  padding: 1px;
  max-width: 150px;
  border:rgb(100, 66, 34, 0.7) dashed 2px;
}

ion-grid ion-row .img img{
  max-width: 150px;
}
