<ion-content>
  <form [formGroup]="emailData">
    <ion-item>
      <ion-label position="stacked">To:</ion-label>
      <ion-input type="email" formControlName="to"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Subject:</ion-label>
      <ion-input type="text" formControlName="subject"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Message:</ion-label>
      <ion-textarea formControlName="text"></ion-textarea>
    </ion-item>
    <ion-button type="submit" (click)="sendEmail()">Send Email</ion-button>
  </form>
</ion-content>
