.container-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  overflow: hidden;
}

.container-img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.body {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 15px;
  text-align: center;
  font-family: Montserrat;
}

.top {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  color: #000000;
  border-bottom: #000000 solid 2px;
  font-family: Montserrat;
}

.top .sort {
  font-size: 15px;
  display: flex;
  justify-content: end;
  max-width: 250px;
  margin-right: -10px;
}

.top .sort ion-icon {
  margin-bottom: -19px;
}

.top .search {
  max-width: 250px;
  margin-top: -5px;
}

//Room//
.body .room-lister ion-row ion-col {
  justify-content: start;
  max-width: 150px;
  margin-left: 5px;
  border-radius: 10px;
}

.room ion-grid ion-row ion-col {
  padding: 10px;
}

.room ion-grid .row-header {
  background-color: #544541;
  margin-bottom: 5px;
  color: white;
  border-radius: 10px 10px 0px 0px;
}

.room ion-grid .row-body ion-col {
  background-color: rgb(226, 226, 226);
  color: #544541;
  margin: 5px 2px 5px 2px;
  max-height: 170px;
  overflow-y: auto;
}

//Room//

//Record//
.record ion-grid ion-row ion-col {
  padding: 10px;
}

.record ion-grid .row-header {
  text-align: center;
  background-color: #544541;
  color: white;
  margin-bottom: 5px;
  border-radius: 10px 10px 0px 0px;
}

.record ion-grid .row-body ion-col {
  text-align: center;
  background-color: rgb(226, 226, 226);
  color: #544541;
  margin: 5px 2px 5px 2px;
  max-height: 170px;
  overflow-y: auto;
}

.record ion-grid .row-body ion-col:first-child {
  margin-left: 0px;
}

.record ion-grid .row-body ion-col:last-child {
  margin-right: 0px;
}

.center {
  margin-top: -300px;
  color: #544541;
  text-align: center;
  margin-bottom: 200px;
  font-weight: 700;
  font-family: Crimson Pro;
}

.center div {
  font-size: 60px;
  font-weight: 700;
  color: #544541;
}

.center p {
  font-size: 25px;
  font-family: Monserrat;
  font-style: italic;
  font-weight: 600;
  color: #544541;
}

#bill .btn {
  background-color: #c3afaa;
  color: white;
  margin-left: 5px;
  border-radius: 10px 10px 0px 0px;
}

#bill #unpaid ion-grid ion-row,
#bill #paid ion-grid ion-row {
  background-color: rgb(226, 226, 226);
  color: #544541;
  margin: 5px 2px 5px 2px;
  padding: 10px;
}

ion-popover {
  --width: 500px;
}

.card {
  background-color: rgb(226, 226, 226);
  max-width: 430px;
  padding: 10px;
  color: #544541;
}

.card .cardName {
  font-size: 20px;
  font-weight: 600;
}

.card .cardStatus,
.card .cardPayment {
  font-size: 16px;
}

div[type="button-list"] {
  padding: 10px 10px;
  background-color: #544541;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 100%;
  font-family: Montserrat;
}

div[type="button-list"]:hover {
  background-color: #a06f4a;
}

.bills-body h1 {
  font-family: Montserrat;
  font-size: 18px;
}
#bill .b {
  background-color: white;
  color: #000;
  padding-bottom: 10px;
}

#bill .b ion-header {
  padding: 8px;
  margin: 8px;
  font-weight: 800;
}

.bill {
  .bills-header {
    margin-bottom: 0;
    padding-bottom: 0;
    ion-col {
      margin-bottom: 0;
      &.active {
        background-color: var(--ion-color-primary) !important;
      }
    }
  }
  .bills-body {
    margin-top: 0;
    padding-top: 0;
    ion-grid {
      margin-top: 0;
      padding-top: 0;
      ion-row:first-child {
        margin-top: 0 !important;
        ion-col {
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
}

.pagination ion-button {
  margin-left: 20px;
  margin-right: 20px;
}

.pagination div {
  margin-top: 12px;
}

////////////////////
///

@media only screen and (max-width: 991px) {
  .notification {
    text-align: center;
    font-family: Montserrat;
    position: relative;
    z-index: 1;
  }

  #top-center {
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }

  #top-center:hover {
    background-color: #e2e2e2;
  }

  .title {
    display: flex;
    align-items: center;
    margin-top: -10px;
  }

  .title ion-icon {
    font-size: 30px;
  }

  .bill {
    margin-top: 20px;
  }

  .bills-header .btn {
    font-family: Montserrat;
    font-size: 18px;
  }

  #bedspace1,
  #room1 {
    margin-top: 20px;
  }

  #bedspace1 ion-grid,
  #room1 ion-grid {
    padding: 0;
  }

  #bedspace1 ion-row,
  #room1 ion-row {
    border-bottom: 1px solid gray;
    padding: 10px 0;
  }

  #bedspace1 ion-col,
  #room1 ion-col {
    display: flex;
    align-items: center;
  }

  #bedspace1 ion-col:first-child img,
  #room1 ion-col:first-child img {
    width: 50px;
  }

  #bedspace1 ion-col:last-child,
  #room1 ion-col:last-child {
    border-bottom: none;
    flex-grow: 1;
    margin-left: 10px;
  }

  .cardName {
    font-weight: 600;
  }

  .cardPayment {
    margin-top: 5px;
  }

  .time {
    text-align: right;
  }

  ion-popover {
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 300px;
    z-index: 2;
    text-align: center;
  }
}

/*SIDEBAR*/

body {
  margin: 0;
}

.side {
  max-width: 250px;
}

.sidebar {
  width: 250px;
  height: 722px;
  background: #544541;
  position: sticky;
}

.sidebar h1 {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: "Montserrat";
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 25px;
  margin: 0;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 80px;
}

.sidebar a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  font-family: Montserrat;
  font-size: 18px;
  letter-spacing: 2px;
}

.sidebar a:hover {
  background-color: #e2e2e2;
  color: #000;
  margin-left: 20px;
  transition: 0.4s;
}
