<ion-content>

  <div class="header">
    <ion-grid>
      <ion-row>
        <ion-col class="tenant-img">
          <img src="assets/user2.png">
        </ion-col>
        <ion-col class="tenant-name">
          Welcome {{owner?.FName}} {{owner?.LName}}
        </ion-col>
        <ion-col class="create">
          <div type="button" (click)="gotoModal1()"><ion-icon name="create-outline"></ion-icon>Create Room</div>
        </ion-col>
        <ion-col class="logout">
          <div type="button"><ion-icon name="arrow-undo-outline"></ion-icon>Log Out</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

<div class="body">
  <ion-grid class="top-btn">
    <ion-row>

      <ion-col type="button" onclick="
      document.getElementById('room').style.display='block';
      document.getElementById('occupant').style.display='none';
      document.getElementById('transaction').style.display='none';">
        <i class="fa fa-bed"></i>
        <br/>
        <ion-label>Rooms</ion-label>
      </ion-col>

      <ion-col type="button" onclick="
      document.getElementById('room').style.display='none';
      document.getElementById('occupant').style.display='block';
      document.getElementById('transaction').style.display='none';">
        <i class="fa fa-user"></i>
        <br/>
        <ion-label>Occupants</ion-label>
      </ion-col>

      <ion-col type="button" onclick="
      document.getElementById('room').style.display='none';
      document.getElementById('occupant').style.display='none';
      document.getElementById('transaction').style.display='block';">
        <ion-icon name="file-tray-full"></ion-icon>
        <br/>
        <ion-label>Transaction Notification</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>

  <div id="room" style="display:block;">
    <div class="room">
    <ion-grid>
      <ion-row class="row-header">
        <ion-col>Title</ion-col>
        <ion-col>Room Type</ion-col>
        <ion-col>Rent</ion-col>
        <ion-col>Beds</ion-col>
        <ion-col>Address</ion-col>
        <ion-col>Price</ion-col>
        <ion-col>Amenities</ion-col>
        <ion-col>Images</ion-col>
        <ion-col>Details</ion-col>
        <ion-col>Action</ion-col>
      </ion-row>
      <ion-row class="row-body" *ngFor="let data of roomList">
        <ion-col>{{data.Title}}</ion-col>
        <ion-col>{{data.RoomType}}</ion-col>
        <ion-col>{{data.Rent}}</ion-col>
        <ion-col><span *ngFor="let bed of data.Bed">B{{bed.id}}-{{bed.status}}<br/></span></ion-col>
        <ion-col>{{data.Street}}, {{data.Barangay}}, {{data.City}}, {{data.Province}}, {{data.ZIP}}</ion-col>
        <ion-col>{{data.Price}}</ion-col>
        <ion-col><span *ngFor="let amenities of data.Amenities">{{amenities}}<br /></span></ion-col>
        <ion-col><span *ngFor="let img of data.Images; let i = index"><a href="{{img}}"> Image {{i+1}}
        </a><br /></span></ion-col>
        <ion-col>{{data.Details}}</ion-col>
        <ion-col>
          <ion-button (click)="gotoEditModal(data)">
            <ion-icon name="pencil"></ion-icon>
          </ion-button >
          <ion-button (click)="RemoveRecord(data.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </div>

    <div id="occupant" style="display:none;">
    <ion-card *ngIf="true">
      <ion-icon name="search-outline"></ion-icon>
      <p>You have no complete reservation yet</p>
      <p>Go to your "Pending Reservation" for the completion of your room/bedspace reservation</p>
    </ion-card>
    </div>

    <div id="transaction" style="display:none;">
    <ion-card *ngIf="true">
      <ion-icon name="search-outline"></ion-icon>
      <p>You have no reservation transaction yet</p>
    </ion-card>
    </div>
</div>
</ion-content>
