<ion-content>
  <div class="header">
    <ion-grid>
      <ion-row>

        <ion-col class="logo">
          <img src="assets/real logo.png">
        </ion-col>

        <ion-col class="home">
          <div type="button" [routerLink]="['/home']">Home</div>
        </ion-col>

        <ion-col class="create">
          <div type="button" (click)="gotoModal1()">Create Room</div>
        </ion-col>

        <ion-col class="myroom">
          <div type="button" onclick="
          document.getElementById('room').style.display='block';
          document.getElementById('record').style.display='none';">My Room</div>
        </ion-col>

        <ion-col class="notification">
          <div type="button" id="top-center">Notification</div>
          <ion-popover trigger="top-center" side="bottom" alignment="center">
            <ng-template>
              <ion-content class="ion-padding">
                <div class="title"><ion-icon name="notifications" style="font-size: 30px;"></ion-icon><span
                    style="align-items: center; margin-top: -10px">Notification</span></div>

                <div class="bill" id="bill">
                  <ion-grid class="bills-header">
                    <ion-row>
                      <ion-col class="btn" size="4" [class.active]="(notifBtn | async) === 'bedspace'">
                        <div type="button" (click)="notifBtn.next('bedspace')"
                          style="font-family: Montserrat; font-size: 18px;">
                          Bedspace</div>
                      </ion-col>
                      <ion-col class="btn" size="3" [class.active]="(notifBtn | async) === 'room'">
                        <div type="button" (click)="notifBtn.next('room')"
                          style="font-family: Montserrat; font-size: 18px;">Room
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>

                  <div id="bedspace1" *ngIf="(notifBtn | async) === 'bedspace'">
                    <ion-grid>
                      <span *ngFor="let data of be; let i = index;" [attr.data-index]="i">
                        <ion-row>
                          <ion-col style="max-width: 60px;">

                            <img id="hover-trigger{{i}}" src="{{data.profpic}}"
                              style="width: 50px; border-radius: 40px; border: 2px solid #544541">
                            <ion-popover trigger="hover-trigger{{i}}" triggerAction="hover">
                              <ng-template>
                                <ion-content>
                                  <ion-grid>
                                    <ion-row>
                                      <ion-col style="max-width: 55px;"><img src="{{data.profpic}}"
                                          style="width: 40px;"></ion-col>
                                      <ion-col>{{data.FName}} {{data.LName}}</ion-col>
                                    </ion-row>
                                    <ion-row>
                                      <ion-col>{{data?.Address}}</ion-col>
                                    </ion-row>
                                    <ion-row>
                                      <ion-col>{{data?.PhoneNum}}</ion-col>
                                    </ion-row>
                                    <ion-row>
                                      <ion-col>{{data.Email}}</ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </ion-content>
                              </ng-template>
                            </ion-popover>

                          </ion-col>
                          <ion-col style="border-bottom: gray solid 1px;">
                            <div class="cardName">
                              {{data.FName}} {{data.LName}} reserved a bedspace in <span
                                style="font-weight: 600;">{{data.Title}} - {{data.RoomName}} Bed - {{data.uid}}
                                <span *ngIf="data.bed === 'up'">Top Bunk</span><span *ngIf="data.bed === 'down'">Bottom
                                  Bunk</span></span>
                            </div>

                            <div class="cardPayment">
                              <span *ngIf="data.status === 'paidPayment'" style="color: green;">Paid in
                                Full</span>
                              <span *ngIf="data.status === 'pendingPayment'" style="color: gray;">Pending</span>
                            </div>

                            <div class="time ion-text-right">
                              {{data.date | date:'short'}}
                            </div>
                          </ion-col>
                        </ion-row>
                      </span>
                    </ion-grid>
                  </div>

                  <div id="room1" *ngIf="(notifBtn | async) === 'bedspace'">
                    <ion-grid>
                      <span *ngFor="let data of ro; let i = index;" [attr.data-index]="i">
                        <ion-row>
                          <ion-col style="max-width: 60px;"><img id="hover-trigger{{i}}" src="{{data.profpic}}"
                              style="width: 50px;">
                            <ion-popover trigger="hover-trigger{{i}}" triggerAction="hover">
                              <ng-template>
                                <ion-content>
                                  <ion-grid>
                                    <ion-row>
                                      <ion-col><img src="{{data.profpic}}" style="width: 30px;"></ion-col>
                                      <ion-col>{{data.FName}} {{data.LName}}</ion-col>
                                    </ion-row>
                                    <ion-row>
                                      <ion-col>{{data?.Address}}</ion-col>
                                    </ion-row>
                                    <ion-row>
                                      <ion-col>{{data?.PhoneNum}}</ion-col>
                                    </ion-row>
                                    <ion-row>
                                      <ion-col>{{data.Email}}</ion-col>
                                    </ion-row>
                                  </ion-grid>
                                </ion-content>
                              </ng-template>
                            </ion-popover></ion-col>
                          <ion-col style="border-bottom: gray solid 1px;">
                            <div class="cardName">
                              {{data.FName}} {{data.LName}} reserved a room in <span
                                style="font-weight: 600;">{{data.Title}}</span>
                            </div>

                            <div class="cardPayment">
                              <span *ngIf="data.status === 'paidPayment'" style="color: green;">Paid in
                                Full</span>
                              <span *ngIf="data.status === 'pendingPayment'" style="color: gray;">Pending</span>
                            </div>

                            <div class="time ion-text-right">
                              {{data.date | date:'short'}}
                            </div>
                          </ion-col>
                        </ion-row>
                      </span>
                    </ion-grid>
                  </div>
                </div>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>

        <ion-col class="transaction">
          <div type="button" onclick="
          document.getElementById('room').style.display='none';
          document.getElementById('record').style.display='block';">Records</div>
        </ion-col>

        <ion-col class="notification">
          <div type="button" id="chat-list">Chats</div>
          <ion-popover trigger="chat-list" side="bottom" alignment="center" dismissOnSelect="true">
            <ng-template>
              <app-chatlist [isPopover]="true"></app-chatlist>
            </ng-template>
          </ion-popover>
        </ion-col>

      </ion-row>
    </ion-grid>
  </div>

  <ion-grid style="padding: 0; margin:0;">
    <ion-row style="padding: 0; margin:0;">
      <ion-col class="side" style="padding: 0; margin:0;">
        <div class="sidebar">
          <h1>Owner Panel</h1>
          <a type="button" (click)="gotoModal1()">Create Room</a>
          <a type="button" onclick="
          document.getElementById('room').style.display='block';
          document.getElementById('record').style.display='none';">My Room</a>
          <a type="button" onclick="
          document.getElementById('room').style.display='none';
          document.getElementById('record').style.display='block';">Records</a>
        </div>
      </ion-col>
      <ion-col style="padding: 0; margin:0;">

        <div class="body">
          <div id="room" style="display:block;">
            <ion-grid class="room-lister">
              <ion-row>
                <ion-col>
                  <div type="button-list" onclick="
          document.getElementById('listed').style.display='block';
          document.getElementById('unlisted').style.display='none';
          document.getElementById('occupant').style.display='none';">Listed Room</div>
                </ion-col>
                <ion-col>
                  <div type="button-list" onclick="
          document.getElementById('listed').style.display='none';
          document.getElementById('unlisted').style.display='block';
          document.getElementById('occupant').style.display='none';">Unlisted Room</div>
                </ion-col>
                <ion-col>
                  <div type="button-list" onclick="
          document.getElementById('listed').style.display='none';
          document.getElementById('unlisted').style.display='none';
          document.getElementById('occupant').style.display='block';">Occupant</div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div id="listed" style="display:block;">
              <div class="room">
                <ion-grid>
                  <ion-row class="row-header">
                    <ion-col>Property</ion-col>
                    <ion-col>Room Type</ion-col>
                    <ion-col>Rent</ion-col>
                    <ion-col>Beds</ion-col>
                    <ion-col>Address</ion-col>
                    <ion-col>Price</ion-col>
                    <ion-col>Amenities</ion-col>
                    <ion-col>Images</ion-col>
                    <ion-col>Details</ion-col>
                    <ion-col>Action</ion-col>
                  </ion-row>
                  <span *ngFor="let data of room.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
                    <ion-row class="row-body" *ngIf="!data.isUnlisted || data.isUnlisted === 'false'">
                      <ion-col>{{data.Title}}</ion-col>
                      <ion-col>{{data.RoomType}}</ion-col>
                      <ion-col>{{data.Rent}}</ion-col>
                      <ion-col><span *ngFor="let bed of data.Bed">B{{bed.id}}-{{bed.status}}<br /></span></ion-col>
                      <ion-col>{{data.Street}}, {{data.Barangay}}, {{data.City}}, {{data.Province}},
                        {{data.ZIP}}</ion-col>
                      <ion-col>{{data.Price}}</ion-col>
                      <ion-col><span *ngFor="let amenities of data.Amenities">{{amenities}}<br /></span></ion-col>
                      <ion-col><span *ngFor="let img of data.Images; let i = index"><a href="{{img}}"> Image {{i+1}}
                          </a><br /></span></ion-col>
                      <ion-col>{{data.Details}}</ion-col>
                      <ion-col>
                        <ion-button (click)="gotoEditModal(data)">
                          <ion-icon name="pencil"></ion-icon>
                        </ion-button>
                        <ion-button (click)="RemoveRecord(data.id)">
                          <ion-icon name="trash"></ion-icon>
                        </ion-button>
                        <ion-button (click)="UnlistRoom(data.id)">
                          <ion-icon name="eye-off"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </span>
                  <ion-footer>
                    <div class="pagination">
                      <ion-button ion-button (click)="previousPage()"
                        [disabled]="currentPage === 1">Previous</ion-button>
                      <div class="pages">Page {{currentPage}} of {{totalPages}}</div>
                      <ion-button ion-button (click)="nextPage()"
                        [disabled]="currentPage === getTotalPages()">Next</ion-button>
                    </div>
                  </ion-footer>
                </ion-grid>
              </div>
            </div>
            <div id="unlisted" style="display:none;">
              <div class="room">
                <ion-grid>
                  <ion-row class="row-header">
                    <ion-col>Property</ion-col>
                    <ion-col>Room Type</ion-col>
                    <ion-col>Rent</ion-col>
                    <ion-col>Beds</ion-col>
                    <ion-col>Address</ion-col>
                    <ion-col>Price</ion-col>
                    <ion-col>Amenities</ion-col>
                    <ion-col>Images</ion-col>
                    <ion-col>Details</ion-col>
                    <ion-col>Action</ion-col>
                  </ion-row>
                  <span *ngFor="let data of room.slice((currentPage - 1) * itemsPerPage, currentPage * itemsPerPage)">
                    <ion-row class="row-body" *ngIf="data.isUnlisted === 'true'">
                      <ion-col>{{data.Title}}</ion-col>
                      <ion-col>{{data.RoomType}}</ion-col>
                      <ion-col>{{data.Rent}}</ion-col>
                      <ion-col><span *ngFor="let bed of data.Bed">B{{bed.id}}-{{bed.status}}<br /></span></ion-col>
                      <ion-col>{{data.Street}}, {{data.Barangay}}, {{data.City}}, {{data.Province}},
                        {{data.ZIP}}</ion-col>
                      <ion-col>{{data.Price}}</ion-col>
                      <ion-col><span *ngFor="let amenities of data.Amenities">{{amenities}}<br /></span></ion-col>
                      <ion-col><span *ngFor="let img of data.Images; let i = index"><a href="{{img}}"> Image {{i+1}}
                          </a><br /></span></ion-col>
                      <ion-col>{{data.Details}}</ion-col>
                      <ion-col>
                        <ion-button (click)="gotoEditModal(data)">
                          <ion-icon name="pencil"></ion-icon>
                        </ion-button>
                        <ion-button (click)="RemoveRecord(data.id)">
                          <ion-icon name="trash"></ion-icon>
                        </ion-button>
                        <ion-button (click)="ListRoom(data.id)">
                          <ion-icon name="eye"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </span>
                  <ion-footer>
                    <div class="pagination">
                      <ion-button ion-button (click)="previousPage()"
                        [disabled]="currentPage === 1">Previous</ion-button>
                      <div class="pages">Page {{currentPage}} of {{totalPages}}</div>
                      <ion-button ion-button (click)="nextPage()"
                        [disabled]="currentPage === getTotalPages()">Next</ion-button>
                    </div>
                  </ion-footer>
                </ion-grid>
              </div>
            </div>
            <div id="occupant" style="display:none;">
              <div class="room">
                <ion-grid>
                  <ion-row class="row-header">
                    <ion-col>Tenant Name</ion-col>
                    <ion-col>Room</ion-col>
                    <ion-col>Bed Position</ion-col>
                    <ion-col>Action</ion-col>
                  </ion-row>
                  <span *ngFor="let data of occupant">
                    <ion-row class="row-body">
                      <ion-col>{{data.FName}} {{data.LName}}</ion-col>
                      <ion-col>{{data.RoomName}}</ion-col>
                      <ion-col>
                        <span *ngIf="!data.bed"></span>
                        <span *ngIf="data.bed">
                          Bed {{data.id}}
                          <span *ngIf="data.bed === 'down'">BOTTOM BUNK</span>
                          <span *ngIf="data.bed === 'up'">TOP BUNK</span>
                        </span>
                      </ion-col>
                      <ion-col>
                        <ion-button (click)="RemoveTenant(data.roomId,data.id,data.userId)">
                          <ion-icon name="trash"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </span>
                </ion-grid>
              </div>
            </div>
          </div>

          <div id="record" style="display:none;">
            <div class="room" #content>
              <ion-grid>
                <ion-row class="top">
                  <ion-col>
                    <div class="title">Records</div>
                  </ion-col>
                  <ion-col class="sort">
                    <div type="button" (click)="toggleSortOrder()">
                      <span type="button" *ngIf="isSortAscending"><ion-icon name="caret-up"></ion-icon></span>
                      <span type="button" *ngIf="!isSortAscending"><ion-icon name="caret-down"></ion-icon></span>
                    </div>
                    <ion-item>
                      <ion-select interface="popover" placeholder="Sort By" [(ngModel)]="sortBy"
                        (ionChange)="sortData()">
                        <ion-select-option value="name">Sort by Name</ion-select-option>
                        <ion-select-option value="date">Sort by Date</ion-select-option>
                      </ion-select>
                    </ion-item>
                  </ion-col>
                  <ion-col class="search">
                    <ion-searchbar [(ngModel)]="searchText"></ion-searchbar>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-grid #grid>
                <ion-row class="row-header" style="text-align:center;">
                  <ion-col>Tenant Name</ion-col>
                  <ion-col>Room/Bedspace Placement</ion-col>
                  <ion-col>Payment Status</ion-col>
                  <ion-col>Date of Payment</ion-col>
                </ion-row>
                <span *ngFor="let data of filteredRecord | filter: searchText">
                  <ion-row class="row-body" style="text-align:center;">
                    <ion-col>
                      {{data.FName}} {{data.LName}}
                    </ion-col>

                    <ion-col>
                      {{data.RoomName}}
                      <br />
                      <span *ngIf="data.bed && data.id">Bed {{data.id}} {{data.bed}}</span>
                    </ion-col>

                    <ion-col>
                      <span *ngIf="data.status === 'paidPayment'">Paid in Full</span>
                      <span *ngIf="data.status === 'pendingPayment'">Pending</span>
                      <br />
                      {{data.Price}}
                    </ion-col>

                    <ion-col>
                      {{data.date | date:'short'}}
                    </ion-col>

                  </ion-row>
                </span>
              </ion-grid>
            </div>
            <ion-button (click)="generatePDF()">Export into PDF</ion-button>
            <ion-button (click)="exportToCSV()">Export to CSV</ion-button>

          </div>

        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>